<ion-view view-title="cadastro" ng-controller="cadastroCtrl">
    <ion-content class="bckground">

<!--logo-->
       <div class="row">
                <div class="col col-center col-100 logo">
                    <img src="img/tueddinlogo.png">
                </div>
            </div>

<!--input nome-->
        <div class="row">
            <div class="col"></div>
            <div class="col col-90" style="text-align:center;">
                <label class="inputcadastro item-input">
                    <input type="text" ng-model="$parent.nick" placeholder="Nome de usuário" ng-value="perfil.nick" style="color:#C0C0C0">
                </label>
            </div>
            <div class="col"></div>
        </div>
<!--input idade e sexo-->
        <div class="row" style="margin-top:1%;">
            <div class="col"></div>
            <div class="col col-45" style="text-align:center;">
                <label class="inputcadastro item-input"  style="padding-top: 6.5%; padding-bottom: 6.5%; padding-left:0;">
                    <select ng-model="$parent.idade" class="inputidadeesexo">
                      <option ng-selected="true">Idade</option>

                      <option ng-repeat="i in id" value="{{i}}">{{i}}</option>
                    </select>
                </label>
            </div>

            <div class="col col-45" style="text-align:center;">
                <label class="inputcadastro item-input"  style="padding-top: 6.5%; padding-bottom: 6.5%; padding-left:0;">
                    <select ng-model="$parent.sexo" class="inputidadeesexo">
                      <option ng-selected="true">Sexo</option>
                      <option value="m">Masculino</option>
                      <option value="f">Feminino</option>
                    </select>
                </label>
            </div>
            <div class="col"></div>
        </div>

<!--Termos-->
        <div class="row">
          <label class="termos item item-checkbox">
              <div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-square">
                  <input type="checkbox" ng-model="$parent.aceito"><i class="checkbox-icon "></i></div>
              <div class="item-content disable-pointer-events" style="white-space:normal;"><span>Eu concordo com os termos de serviços e política de privacidade.</span></div>
          </label>
        </div>


<!--botao entrar-->

        <div class="row">
            <div class="col"></div>
            <div class="col col-80">
                <button class="button button-full" style="border-radius:6px;" ng-click="cadastro()">Começar</button>
            </div>
            <div class="col"></div>
        </div>


    </ion-content>
</ion-view>
