<ion-view view-title="chat">
    <ion-content class="fontetueddin">

<!--HEADER-->
        <div class="row bgconfig">
            <div class="col">
                <button class="button button-icon button-small" ui-sref="conversas"><img src="img/timeline/icones/voltar.svg"></button>
            </div>
            <div class="col col-75 colheaderchat">
                <div class="col col-15 iconepessoachatheader" style="background-image:url('img/teste/1.jpg')"></div>                    
                <p class="textochatheader">Gustavo Andrade</p>                  
                <p class="textochatheaderbaixo">Online</p>
                
            </div>
            <div class="col">
                <button class="button button-icon button-small"><img src="img/timeline/icones/buscar.svg"></button>
            </div>            
        </div>
        <span></span>
<!--CONVERSA-->
        
        
        


        
        
        
    </ion-content>
<!--FOOTER-->
    <ion-footer-bar>
        
    </ion-footer-bar>
</ion-view>