<ion-view view-title="explorar">
    <ion-content class="fontetueddin">

<!--voltar pesquisar-->
        <row class="row bgconfig">
            <div class="col">
                <button class="button button-icon button-small" ui-sref="mainmenu"><img src="img/timeline/icones/voltar.svg"></button>
            </div>
            <div class="col col-75 textocabecalhotimeline">
                <p>Explorar</p>
            </div>
            <div class="col">
                <button class="button button-icon button-small"><img src="img/timeline/icones/buscar.svg"></button>
            </div>            
        </row>
        <span></span>
<!--TELAS-->
        <div class="row">
            <div class="col col-33 colimgexplorar">
                <button class="button button-full button-large button-clear"></button>
            </div>
            <span></span>
            <div class="col col-33 colimgexplorarboate">
                <button class="button button-full button-large button-clear"></button>
            </div>
            <span></span>
            <div class="col col-33 colimgexplorarbar">
                <button class="button button-full button-large button-clear"></button>
            </div>
        </div>
        
        <div class="row">
            <div class="col col-33 colimgexplorarpop">
                <button class="button button-full button-large button-clear"></button>
            </div>
            <span></span>
            <div class="col col-33 colimgexplorarjazz">
                <button class="button button-full button-large button-clear"></button>
            </div>
            <div class="col col-33 colimgexplorarrock">
                <button class="button button-full button-large button-clear"></button>
            </div>
        </div>
        
        <div class="row">
            <div class="col col-33 colimgexplorarautomotivo">
                <button class="button button-full button-large button-clear"></button>
            </div>
            <span></span>
            <div class="col col-33 colimgexplorarshows">
                <button class="button button-full button-large button-clear"></button>
            </div>
            <div class="col col-33 colimgexplorartempo">
                <button class="button button-full button-large button-clear"></button>
            </div>
        </div>
        
        <div class="row">
            <div class="col col-33 colimgexplorarhip">
                <button class="button button-full button-large button-clear"></button>
            </div>
            <span></span>
            <div class="col col-33 colimgexplorarpunk">
                <button class="button button-full button-large button-clear"></button>
            </div>
            <div class="col col-33 colimgexplorarchurrasco">
                <button class="button button-full button-large button-clear"></button>
            </div>
        </div>
        
        <div class="row">
            <div class="col col-33 colimgexplorarsertanejo">
                <button class="button button-full button-large button-clear"></button>
            </div>
            <span></span>
            <div class="col col-33 colimgexplorarblues">
                <button class="button button-full button-large button-clear"></button>
            </div>
            <div class="col col-33 colimgexplorarreaggea">
                <button class="button button-full button-large button-clear"></button>
            </div>
        </div>
        
        <div class="row">
            <div class="col col-33 colimgexplorareletronica">
                <button class="button button-full button-large button-clear"></button>
            </div>
            <span></span>
            <div class="col col-33 colimgexplorargospel">
                <button class="button button-full button-large button-clear"></button>
            </div>
            <div class="col col-33 colimgexplorarclassica">
                <button class="button button-full button-large button-clear"></button>
            </div>
        </div>
        <br><br>
    
    </ion-content>
    
<!--Footer barra-->
    <ion-footer-bar class="barra">
        <img src="img/tab/barrafooter.png" class="barraimg">
        <div class="buttons">
            <button class="button button-clear barrabotaopessoas" ui-sref="match1">
                <img src="img/tab/pessoas@1x.svg">
            </button>     
            <button class="button button-clear barrabotaochat" ui-sref="login">
                <img src="img/tab/conversas@1x.svg">
            </button>
            <button class="button barrabotaomain" ui-sref="mainmenu">               
            </button>
            <button class="button button-clear barrabotaotimeline" ui-sref="timeline">
                <img src="img/tab/timeline@1x.svg">
            </button>
            <button class="button button-clear barrabotaouserconfig" ui-sref="userconfig">
                <img src="img/tab/configuracoes@1x.svg">
            </button>
        </div>
    </ion-footer-bar>
</ion-view>