
<ion-view view-title="locais">
    <ion-content class="fontetueddin">

<!--voltar pesquisar-->
        <row class="row bgconfig">
            <div class="col">
                <button class="button button-icon button-small" ui-sref="mainmenu"><img src="img/timeline/icones/voltar.svg"></button>
            </div>
            <div class="col col-75 textocabecalhotimeline">
                <p>Locais</p>
            </div>
            <div class="col">
                <button class="button button-icon button-small" ui-sref="pesquisar"><img src="img/timeline/icones/buscar.svg"></button>
            </div>            
        </row>
        <span></span>

<!------------------CARDS-->       
        <div ng-controller="cardLocaisCtrl">
           <div class="row no-padding" ng-repeat="card in cards" ng-if="$index % 2 == 0">
            <card-locais class="col no-padding" ui-sref="perfilpag" imagem="{{card.imagem}}" titulo="{{card.titulo}}" local="{{card.local}}" ng-repeat="card in cards.slice($index, ($index+2 > cards.length ? cards.length : $index+2))">
            </card-locais>
            </div>
        </div>
    
        
    
</ion-content>
    
<!--Footer barra-->
    <ion-footer-bar  class="barra hide-on-keyboard-open">
        <img src="img/tab/barrafooter.png" class="barraimg">
        <div class="buttons">
            <button class="button button-clear barrabotaopessoas" ui-sref="match1">
                <img src="img/tab/pessoas@1x.svg">
            </button>     
            <button class="button button-clear barrabotaochat" ui-sref="conversas">
                <img src="img/tab/conversas@1x.svg">
            </button>
            <button class="button barrabotaomain" ui-sref="mainmenu">               
            </button>
            <button class="button button-clear barrabotaotimeline" ui-sref="timeline">
                <img src="img/tab/timeline@1x.svg">
            </button>
            <button class="button button-clear barrabotaouserconfig" ui-sref="userconfig">
                <img src="img/tab/configuracoes@1x.svg">
            </button>
        </div>
    </ion-footer-bar>

</ion-view>