<ion-view view-title="locais" ng-controller="locaisCtrl">

    <ion-content class="fontetueddin">

<!--voltar pesquisar-->
        <row class="row bgconfig">
            <div class="col">
                <button class="button button-icon button-small" ui-sref="mainmenu"><img src="img/timeline/icones/voltar.svg"></button>
            </div>
            <div class="col col-75 textocabecalhotimeline">
                <p>Locais</p>
            </div>
            <div class="col">
                <button class="button button-icon button-small" ui-sref="pesquisar"><img src="img/timeline/icones/buscar.svg"></button>
            </div>            
        </row>

        <span ng-repeat="l in locais">
            <div class="row rowcartaoponto">
                <div class="col cartaoponto">
                    <div class="divimgback" ng-click="abrirPagina(l.id_local)">
                        <div style="background-image:url(img/teste/gus2016.jpg)" class="cartaopontoimg">
                        </div>
                    </div>
                    <div class="bottop">
                        <button class="button button-icon" ng-click="notifica(l.id_local, 'id_local')">
                            <img src="img/pontoencontro/notificacoes.svg">
                        </button>
                        <button class="button button-icon" ng-click="favorito(l.id_local, 'id_local')">
                            <img src="img/pontoencontro/favoritos.svg">
                        </button>
                    </div>
                    <div class="botbotTur">
                        <a class="plocalgps">
                            <img src="img/pontoencontro/pin.svg">
                            <p class="textolocalcimacartao">{{l.local}}</p>
                            <p class="textolocalbaixocartao">{{l.endereco}}</p>
                        </a>
                    </div>
                    <div class="cartaopontobarra">
                        <div class="row botsbarrapontoTur padding">
                            <div class="col col-33 colbotbarraponto">
                                <button class="button button-icon botgosteiponto" ng-click="curtida(l.id_local, 'id_local')">
                                    <img src="img/pontoencontro/gostei.svg">
                                    <p>{{l.curtida}}</p>
                                </button>
                            </div>
                            <span></span>
                            <div class="col col-33 colbotbarraponto">
                                <button class="button button-icon botcompartilharponto">
                                    <img src="img/pontoencontro/compartilhar.svg">
                                </button>
                            </div>
                            <span></span>
                            <div class="col col-33 colbotbarraponto">
                                <button class="button button-icon botgosteiponto">
                                    <img src="img/pontoencontro/comentarios.svg">
                                    <p>{{l.comentario}}</p>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </span>

</ion-content>
    
<!--Footer barra-->
    <ion-footer-bar  class="barra hide-on-keyboard-open">
        <img src="img/tab/barrafooter.png" class="barraimg">
        <div class="buttons">
            <button class="button button-clear barrabotaopessoas" ui-sref="match1">
                <img src="img/tab/pessoas@1x.svg">
            </button>     
            <button class="button button-clear barrabotaochat" ui-sref="conversas">
                <img src="img/tab/conversas@1x.svg">
            </button>
            <button class="button barrabotaomain" ui-sref="mainmenu">               
            </button>
            <button class="button button-clear barrabotaotimeline" ui-sref="timeline">
                <img src="img/tab/timeline@1x.svg">
            </button>
            <button class="button button-clear barrabotaouserconfig" ui-sref="userconfig">
                <img src="img/tab/configuracoes@1x.svg">
            </button>
        </div>
    </ion-footer-bar>

</ion-view>