 <ion-view view-title="login" ng-controller="loginCtrl">
        <ion-content  class="bckground fontetueddin">
            
<!--logo--> 
            <div class="row">               
                <div class="col col-center col-100 logo ">
                    <img src="img/tueddinlogo.png" class="logocadastro">
                </div>
                
            </div>        
<!--facebook-->    
            <div class="row">
                <div class="col"></div>
            <div class="col col-75">    								
					<button class="button button-full icon-left ion-social-facebook login botaofb" ui-sref="cadastro" ng-click="loginFacebook()">Entrar com Facebook</button>				             
            </div> 
                <div class="col"></div>
          </div>
          
          <div class="row">
              <div class="col"></div>
<!--twitter-->               
            <div class="col col-75">
                <button class="button button-full icon-left ion-social-twitter login botaotw"  ui-sref="mainmenu">Entrar com Twitter</button>
            </div>
              <div class="col"></div>
          </div> 
          
          <div class="row">
              <div class="col"></div>
              
<!--googleplus--> 
            <div class="col col-75">
                <button class="button button-full icon-left ion-social-googleplus login botaogplus" ui-sref="mainmenu">Entrar com Google+</button>
            </div>
              <div class="col"></div>
          </div> 
            
            <br>
        
            <div class="row">
                <div class="col"></div>
                    
<!--politica de privacidade--> 
                <div class="col col-75">
                    <p class="textLogin">Não postamos nada no Facebook, Twitter e Google+. Ao continuar, você concorda com nossos <span class="textolink" href="">Termos de serviço e Política de privacidade.</span></p>
                </div>
                <div class="col"></div>
            </div>
          </ion-content>
      </ion-view>

