<ion-view view-title="mainmenu" ng-controller="menuCtrl">
  <ion-content class="bgmain" scroll="false">
      
<!--botão userconfig-->
      <div class="row">
            <div class="col col-20"><a class="button button-icon button-small" href="#/userconfig"><img src="img/main/icones/configuracao.svg"></a></div>
                        
        </div>    
     <span></span>
      
      
<div class="row">
            <div class="col"></div>
    
<!--EXPLORAR-->
            <div class="col col-50 buttonmain botexplorar" >
                <a class="button button-large button-full button-icon" href="#/explorar">
                    <br>
                </a>
            </div>
    
         <div class="col"></div>
    
<!--PESSOAS-->    
            <div class="col col-50 buttonmain botpessoas">
                <a class="button button-large button-full button-icon" href="#/match1">
                    <br>
                </a>
            </div>
        <div class="col"></div>
</div>
      
  
<div class="row">
      <div class="col">
    </div>
      </div>
        <div class="row">
            <div class="col"></div>
            
<!--PONTO DE ENCONTRO-->
            <div class="col col-50 buttonmain botpontodeencontro">
                <a class="button button-large button-full button-icon" href="#/pontoenc">
                    <br>
                </a>
            </div>            
            <div class="col"></div>
            
 <!--LOCAIS-->           
            <div class="col col-50 buttonmain botlocais">
                <a class="button button-large button-full button-icon" href="#/locais">
                    <br>
                </a>
            </div>
            <div class="col"></div>      
        </div>
      
      
<div class="row">
      <div class="col"></div>
      </div>
        <div class="row">
            <div class="col"></div>
        
<!--PONTO TURÍSTICOS-->
            <div class="col col-50 buttonmain botturistico">
                <a class="button button-large button-full button-icon" href="#/turistico">             <br>               
                </a>
            </div>
            

            <div class="col"></div>
            
<!--CONVERSAS-->         
            <div class="col col-50 buttonmain botconversas">
                <a class="button button-large button-full button-icon" href="#/conversas">             <br>   
                </a>
            </div>
            <div class="col"></div>
        </div>
      
      
<div class="row">
      <div class="col"></div>
      </div>
        <div class="row">
            <div class="col"></div>
            
<!--FAVORITOS-->        
            <div class="col col-50 buttonmain botfavoritos">
                <a class="button button-large button-full button-icon" href="">
                    <br>                            
                </a>
            </div>
            <div class="col">               
            </div>
            
<!--CRIAR PONTO-->
            <div class="col col-50 buttonmain botcriarponto">
                <a class="button button-large button-full button-icon" href="#/criar">   
                    <br>
                </a>
            </div> 
            <div class="col"></div>
        </div>
      


<!--voltar login-->
<div class="row">
      <div class="col">         
    </div>
      </div>

        <div class="row rowbaixo">
            <div class="col"></div>
            <div class="col col-center">
                <a class="button button-full button-icon" href="#/timeline">
                    <img src="img/main/icones/iconeSair.svg" >
                </a>
            </div>
            <div class="col"></div>
        </div>      
  </ion-content>
</ion-view>
