<ion-view view-title="mainmenu" ng-controller="menuCtrl">
  <ion-content class="bgmain">
      
<!--botão userconfig-->
      <div class="row">
            <div class="col col-20"><a class="button button-icon button-small" href="#/userconfig"><img src="img/main/icones/configuracao.svg"></a></div>
            <div class="col col-75" style="color: white">{{ perfil.nome }} {{ perfil.sobrenome }}</div>
            <div class="col col-10"></div>            
        </div>    
      <br>
      
      
<div class="row">
            <div class="col"></div>
    
<!--ponto de encontro-->
            <div class="col col-50 buttonmain botpontodeencontro" >
                <a class="button button-large button-full button-icon" href="">
                    <br>
                </a>
            </div>
    
         <div class="col"></div>
    
<!--locais-->    
            <div class="col col-50 buttonmain botlocais">
                <a class="button button-large button-full button-icon" href="">
                    <br>
                </a>
            </div>
        <div class="col"></div>
</div>
      
  
<div class="row">
      <div class="col">
    </div>
      </div>
        <div class="row">
            <div class="col"></div>
            
<!--pessoas-->
            <div class="col col-50 buttonmain botpessoas">
                <a class="button button-large button-full button-icon" href="#/match1">
                    <br>
                </a>
            </div>            
            <div class="col"></div>
            
 <!--criar ponto-->           
            <div class="col col-50 buttonmain botcriarponto">
                <a class="button button-large button-full button-icon" href="">
                    <br>
                </a>
            </div>
            <div class="col"></div>      
        </div>
      
      
<div class="row">
      <div class="col"></div>
      </div>
        <div class="row">
            <div class="col"></div>
        
<!--ponto turísticos-->
            <div class="col col-50 buttonmain botturistico">
                <a class="button button-large button-full button-icon" href="">             <br>               
                </a>
            </div>
            

            <div class="col"></div>
            
<!--conversas-->         
            <div class="col col-50 buttonmain botconversas">
                <a class="button button-large button-full button-icon" href="">             <br>   
                </a>
            </div>
            <div class="col"></div>
        </div>
      
      
<div class="row">
      <div class="col"></div>
      </div>
        <div class="row">
            <div class="col"></div>
            
<!--favoritos-->        
            <div class="col col-50 buttonmain botfavoritos">
                <a class="button button-large button-full button-icon" href="">
                    <br>                            
                </a>
            </div>
            <div class="col">               
            </div>
            
<!--explorar-->
            <div class="col col-50 buttonmain botexplorar">
                <a class="button button-large button-full button-icon" href="">        
                    <br>
                </a>
            </div> 
            <div class="col"></div>
        </div>
      


<!--voltar login-->
<div class="row">
      <div class="col">         
    </div>
      </div>

        <div class="row">
            <div class="col"></div>
            <div class="col col-center">
                <a class="button button-large button-full button-icon" href="#/login">
                    <img src="img/main/icones/iconeSair.svg" >
                </a>
            </div>
            <div class="col"></div>
        </div>      
  </ion-content>
</ion-view>
