<ionic-view view-title="match1" ng-controller="cardsCtrl">
    <ion-content class="bgmain fontetueddin" scroll="false">

 <!--ROW DE CIMA-->       
        <div class="row">
            <div class="col col-10">
                <button class="button button-clear button-small" ui-sref="mainmenu">
                    <img src="img/perfil/icones/voltar@1x.svg">
                </button>
            </div>
            <div class="col col-70 colbotaovisual">
<!----
<img src="img/pessoas/visualizacao@2x.png" class="botaovisual">
    <button class="button botaograde" ui-sref="match2"></button>
    <button class="button botaouma" ui-sref="match1"></button>
---->
            </div>
            <div class="col col-20"> 
                <button class="button botopcoesmatch" >
                    <img src="img/perfil/icones/opcoes@1x.svg" class="opcoesMatch">
                </button>           
            </div>
        </div>
        <br>
<!--FOTO PESSOA-->               
    
        <td-cards>
              <td-card id="td-card" ng-repeat="card in cards" on-destroy="cardDestroyed($index)"
              on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)"
              on-partial-swipe="cardPartialSwipe(amt)">
                <div class="row rowcartao">
                        <div class="col cartaopessoa">            
                            <img style="background-image:url({{card.image}})" class="cartaopessoaimg" ui-sref="perfil">
                            <p>{{card.title}}</p>
                            <!----
                            <div class="list botaolista">
                                <button class="botaoimg"><img src="img/pessoas/cinza@1x.png"></button>
                                <br>
                                <button  class="botaoimg"><img src="img/pessoas/cinza@1x.png"></button>
                                <br>
                                <button  class="botaoimg"><img src="img/pessoas/cinza@1x.png"></button>
                                <br>
                                <button  class="botaoimg"><img src="img/pessoas/cinza@1x.png"></button>
                                <br>
                                <button  class="botaoimg"><img src="img/pessoas/cinza@1x.png"></button>
                                <br>
                                <button  class="botaoimg"><img src="img/pessoas/cinza@1x.png"></button>
                                <br>
                                <button  class="botaoimg"><img src="img/pessoas/cinza@1x.png"></button>
                            </div>--->
                            <div class="rowlike">
                                <button class="botaolike" ><img src="img/pessoas/dislike@2x.png"></button>
                                <button class="botaolike" ><img src="img/pessoas/mais@2x.png"></button>
                                <button class="botaolike" ng-click="modal.show()" ><img src="img/pessoas/like@2x.png"></button>
                            </div>                
                        </div>
                    </div>
            </td-card>
        </td-cards>
    </ion-content>
    
    <ion-footer-bar class="barra">
        <img src="img/tab/barrafooter.png" class="barraimg">
        <div class="buttons">
            <button class="button button-clear barrabotaopessoas" ui-sref="match1">
                <img src="img/tab/pessoas@1x.svg">
            </button>     
            <button class="button button-clear barrabotaochat" ui-sref="conversas">
                <img src="img/tab/conversas@1x.svg">
            </button>
            <button class="button barrabotaomain" ui-sref="mainmenu">
                
            </button>
            <button class="button button-clear barrabotaotimeline" ui-sref="timeline">
                <img src="img/tab/timeline@1x.svg">
            </button>
            <button class="button button-clear barrabotaouserconfig" ui-sref="userconfig">
                <img src="img/tab/configuracoes@1x.svg">
            </button>
        </div>
    </ion-footer-bar>
</ionic-view>