<ionic-view view-title="match2">
    <ion-content class="bgmain fontetueddin">
        
<!--ROW DE CIMA-->       
        <div class="row">
            <div class="col">
                <button class="button button-clear button-small" ui-sref="mainmenu">
                    <img src="img/perfil/icones/voltar@1x.svg">
                </button>
            </div>
            <div class="col">
                <img src="img/pessoas/visualizacao@2x.png" class="botaovisual">
                    <button class="button botaograde" ui-sref="match2"></button>
                    <button class="button botaouma" ui-sref="match1"></button>
            </div>
            <div class="col"> 
                <button class="button button-clear button-small" >
                    <img src="img/perfil/icones/opcoes@1x.svg" class="opcoesMatch">
                </button>           
            </div>
        </div>
        <br>
        
    </ion-content>
    
    <ion-footer-bar  class="barra">
        <img src="img/tab/barra.png" class="barraimg">
        <div class="buttons">
            <button class="button button-clear barrabotaopessoas" ui-sref="login">
                <img src="img/tab/pessoas@1x.svg">
            </button>     
            <button class="button button-clear barrabotaochat" ui-sref="login">
                <img src="img/tab/conversas@1x.svg">
            </button>
            <button class="button button-clear barrabotaomain" ui-sref="mainmenu">
                <img src="img/tab/botao_home@1x.svg">
            </button>
            <button class="button button-clear barrabotaotimeline" ui-sref="login">
                <img src="img/tab/timeline@1x.svg">
            </button>
            <button class="button button-clear barrabotaouserconfig" ui-sref="userconfig">
                <img src="img/tab/configuracoes@1x.svg">
            </button>
        </div>
    </ion-footer-bar>
</ionic-view>