<ion-modal-view view-title="modalcombinacao">
    <ion-content class="bgcombina">
        <br><br><br><br><br><br><br><br><br><br><br>
        <div class="row">
            <div class="col"></div>
            <div class="col col-40 colimgcomb" style="background-image:url('img/teste/gus2016.jpg')">                
            </div>
            <div class="col col-40 colimgcomb" style="background-image:url('img/teste/1.jpg')" >
                
            </div>
            <div class="col"></div>
        </div>
        <span></span>
        <div class="row">
            <div class="col"></div>
            <div class="col col-90 coltextocomb">
                <p>Você e Victoria gostaram um do outro!</p>
            </div>
            <div class="col"></div>
        </div>
        <span></span>
        <div class="row">
            <div class="col colbotcomb"></div>
            <div class="col col-90 colbotcomb">
                <button class="button button-full botcomb icon-left" ui-sref="#/chat">
                    <img src="img/combinacao/iconenviarmensagem.svg">
                    Enviar Mensagem
                </button>
            </div>
            <div class="col colbotcomb"></div>
        </div>
        
        <div class="row">
            <div class="col colbotcomb"></div>
            <div class="col col-90 colbotcomb">
                <button class="button button-full botcomb icon-left" ng-click="modal.hide()">
                    <img src="img/combinacao/iconcontinuarvendo.svg">
                    Continuar Vendo
                </button>
            </div>
            <div class="col colbotcomb"></div>
        </div>
    </ion-content>
            
</ion-modal-view>