<ion-view view-title="perfil" ng-controller="popupPerfilCtrl">
    <ion-content class="bgperfil fontetueddin">
        
<!--fotoperfil-->
        <div class="row paddingPerfil">
            <div class="col imgPerfil" style="background-image:url('img/teste/gus2016.jpg');">
                
                <a class="button button-icon voltarPerfil" href="#/userconfig">
                    <img src="img/perfil/icones/voltar@1x.svg">
                </a>
                <a class="button button-icon sharePerfil">  
                    <img src="img/perfil/icones/compartilhar.svg">
                </a>
                
                <a class="button button-icon opcoesPerfil" ng-click="popupPerfil()">
                    <img src="img/perfil/icones/opcoes@1x.svg">
                </a>              
               
                
                <a class="textoPerfil">
                    <p><span class="textoCima">{{ perfil.nome }} {{ perfil.sobrenome }}, {{perfil.idade}}</span>
                        <br>
                        <span>@{{ perfil.nick }}</span>
                    </p>
                </a>
                
                <a class="seguindoPerfil">
                    <p><span class="textocimaSeguindo">228</span>
                        <br>
                        <span class="textobaixoSeguindo">Seguindo</span>
                    </p>
                </a>
                
                <a class="button button-icon botaoeditar">
                    <img src="img/perfil/icones/editarPerfil.svg">             
                </a>
                
                 <a class="seguidoresPerfil">
                    <p><span class="textocimaSeguindo">10.1k</span>
                        <br>
                        <span class="textobaixoSeguindo">Seguidores</span>
                    </p>
                </a>
                <img src="img/perfil/icones/overlay@1x.svg" class="shade">      
            </div>
        </div>

<!--scroll de fotos-->
        
        <ion-scroll zooming="true" direction="x" class="scrollPerfil">
            <div class="div1Scroll">
                <div class="row div2Scroll">
                    <div class="col div3Scroll">
                        <img src="img/perfil/fotos/fotoscroll01.png" class="imgscroll">
                        <img src="img/perfil/fotos/fotoscroll02.png" class="imgscroll">
                        <img src="img/perfil/fotos/fotoscroll03.png" class="imgscroll">
                        <img src="img/perfil/fotos/fotoscroll04.png" class="imgscroll">
                        <img src="img/perfil/fotos/fotoscroll01.png" class="imgscroll">
                        <img src="img/perfil/fotos/fotoscroll02.png" class="imgscroll">
                        <img src="img/perfil/fotos/fotoscroll03.png" class="imgscroll">
                    </div>        
                </div>
            </div>
            <div>
                <button class="button overlay"><p class="overlaytext">Deslize para ver mais <img src="img/perfil/icones/avancar.png" class="overlayimg"></p></button>
            </div>
        </ion-scroll>
        
<!--Botões-->
        
        <div class="row paddingPerfil">
            <div class="col col-33 paddingPerfil botaoImgperfil">
                <button class="button button-clear">
                    <img src="img/perfil/icones/grid@1x.svg">
                </button>
            </div>
            <div class="col col-33 paddingPerfil botaoImgperfil botaomid">
                <button class="button button-clear" ui-sref="listaperfil">
                    <img src="img/perfil/icones/list@1x.svg">
                </button>
            </div>
            <div class="col col-33 paddingPerfil botaoImgperfil">
                <button class="button button-clear">
                    <img src="img/perfil/icones/favoritos@1x.svg">
                </button>
            </div>
        </div>
        
<!--Local-->
        
        <div class="row paddingPerfil">
            <div class="col col-100 paddingPerfil localPerfil">
                <img src="img/perfil/local/local.png" class="iconelocal">
                <p class="textolocal">                
                    Brasília, DF
                </p>
            </div>
        </div>
        
<!--Sobre-->
        <div class="row divSobre">
            <div class="col col-100">
                <img src="img/perfil/sobre/sobre@2x.png" class="sobreBalao">
                <p class="sobretexto"><span class="sobreTextocima">
                    Sobre
                </span>
                    <br>
                <span class="sobreTextobaixo">
                    Quero namorar um homem sério, não quero nada de sexo casual.
                </span>
                </p>
            </div>
        </div>

<!--Fotos instagram texto-->
        <div class="row paddingPerfil ">
            <div class="col col-100 paddingPerfil rowfotosinstagram">
                <p class="instagramTexto">Fotos do Instagram</p>
                <p class="instagramBotaop">
                    <button class="button button-dark instagramBotao"></button>
                    <button class="button button-dark instagramBotao"></button>
                    <button class="button button-dark instagramBotao"></button>
                    <button class="button button-dark instagramBotao"></button>
                    <button class="button button-dark instagramBotao"></button>
                </p>                
            </div>                
        </div>
        
<!--Fotos instagram-->
        <div class="row paddingInstagram">
            <div class="col col-33 paddingPerfil">
                <img src="img/perfil/fotos/image01.png" class="fotosInstagram">    
            </div>
            <div class="col col-33 paddingPerfil">
                <img src="img/perfil/fotos/image02.png" class="fotosInstagram">
            </div>
            <div class="col col-33 paddingPerfil">
                <img src="img/perfil/fotos/image03.png" class="fotosInstagram">
            </div>
        </div>
        <div class="row paddingInstagram">
            <div class="col col-33 paddingPerfil">
                <img src="img/perfil/fotos/image04.png" class="fotosInstagram">
            </div>
            <div class="col col-33 paddingPerfil">
                <img src="img/perfil/fotos/image05.png" class="fotosInstagram">
            </div>
            <div class="col col-33 paddingPerfil">
                <img src="img/perfil/fotos/image06.png" class="fotosInstagram">
            </div>
        </div>
        <div class="row paddingInstagram">
            <div class="col col-33 paddingPerfil">
                <img src="img/perfil/fotos/image07.png" class="fotosInstagram">
            </div>
            <div class="col col-33 paddingPerfil">
                <img src="img/perfil/fotos/image08.png" class="fotosInstagram">
            </div>
            <div class="col col-33 paddingPerfil">
                <img src="img/perfil/fotos/image09.png" class="fotosInstagram">
            </div>
        </div>    
    </ion-content>
    
<!--Footer barra-->
    <ion-footer-bar class="barra">
        <img src="img/tab/barrafooter.png" class="barraimg">
        <div class="buttons">
            <button class="button button-clear barrabotaopessoas" ui-sref="match1">
                <img src="img/tab/pessoas@1x.svg">
            </button>     
            <button class="button button-clear barrabotaochat" ui-sref="login">
                <img src="img/tab/conversas@1x.svg">
            </button>
            <button class="button barrabotaomain" ui-sref="mainmenu">
                
            </button>
            <button class="button button-clear barrabotaotimeline" ui-sref="timeline">
                <img src="img/tab/timeline@1x.svg">
            </button>
            <button class="button button-clear barrabotaouserconfig" ui-sref="userconfig">
                <img src="img/tab/configuracoes@1x.svg">
            </button>
        </div>
    </ion-footer-bar>
    
</ion-view>