<ion-view view-title="perfil" ng-controller="popupPerfilCtrl">
    <ion-content class="bgperfil fontetueddin">
        
<!--fotoperfil-->
        <div class="row paddingPerfil">
            <div class="col imgPerfil" ng-style="{'background-image':'url('+imgBack+')'}">               
                <a class="button button-icon voltarPerfil" href="#/userconfig">
                    <img src="img/perfil/icones/voltar@1x.svg">
                </a>
                <a class="button button-icon sharePerfil">  
                    <img src="img/perfil/icones/compartilhar.svg">
                </a>
                
                <a class="button button-icon opcoesPerfil" ng-click="popupOpcoes()">
                    <img src="img/perfil/icones/opcoes@1x.svg">
                </a>              
               
                
                <a class="textoPerfil">
                    <p><span class="textoCima">{{ perfil.nome }} {{ perfil.sobrenome }}, {{perfil.idade}}</span>
                        <br>
                        <span>@{{ perfil.nick }}</span>
                    </p>
                </a>
                
                <div class="row rowshade">
                    <div class="col">
                        <a class="seguindoPerfil">
                            <p><span class="textocimaSeguindo">228</span>
                                <br>
                                <span class="textobaixoSeguindo">Seguindo</span>
                            </p>
                        </a>
                    </div>
                    
                    <div class="col">
                        <button class="button button-icon" ng-model="buttonedita" ng-click="buttonedita.clicked=!buttonedita.clicked" ng-class="buttonedita.clicked?'button-tueddin':'button-tueddin'"> <!--BOTAO PARA EDITAR O TEXTO-->
                            <img src="img/perfil/icones/editarPerfil.svg">   
                        </button>
                    </div>
                    <div class="col">
                         <a class="seguidoresPerfil">
                            <p><span class="textocimaSeguindo">10.1k</span>
                                <br>
                                <span class="textobaixoSeguindo">Seguidores</span>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

<!--scroll de fotos-->
        
        <ion-scroll zooming="true" direction="x" class="scrollPerfil">
            <div class="div1Scroll">
                <div class="row div2Scroll">
                    <div class="col div3Scroll" ng-repeat="foto in fotos">     
                        <img src="{{foto.url}}" class="imgscroll"  ng-click="{{foto.funcao}}">       
                    </div> 
                </div>
            </div>
            <div ng-show="!buttonedita.clicked" style="height:100%">
                <button class="button overlay">
                    <p class="overlaytext">
                        Deslize para ver mais 
                        <img src="img/perfil/icones/avancar.png" class="overlayimg" >
                    </p>
                </button>
            </div>
        </ion-scroll>
        
<!--Botões-->
        
        <div class="row paddingPerfil">
            <div class="col col-33 paddingPerfil botaoImgperfil">
                <button class="button button-clear">
                    <img src="img/perfil/icones/grid@1x.svg">
                </button>
            </div>
            <div class="col col-33 paddingPerfil botaoImgperfil botaomid">
                <button class="button button-clear" ui-sref="listaperfil">
                    <img src="img/perfil/icones/list@1x.svg">
                </button>
            </div>
            <div class="col col-33 paddingPerfil botaoImgperfil">
                <button class="button button-clear">
                    <img src="img/perfil/icones/favoritos@1x.svg">
                </button>
            </div>
        </div>
        
<!--Local-->
        <span></span>
        <div class="row paddingPerfil">
            <div class="col col-100 paddingPerfil localPerfil">
                <img src="img/perfil/local/local.png" class="iconelocal">
                <p class="textolocal">                
                    Brasília, DF
                </p>
            </div>
        </div>
        <span></span>
<!--Sobre-->
        <div class="row">
            <div class="col col-100 sobreBalao">                
                <p class="sobretexto">
                    <span class="sobreTextocima">
                        Sobre
                    </span>
                    <br>
                    <label class="item item-input sobreTextobaixoedita" ng-show="buttonedita.clicked">
                        <input ng-model="newTexto.novoTexto" type="text" ng-readonly="false" placeholder="{{textos}}"> <!--EDIÇÃO DO TEXTO-->
                    </label>                    
                    <span ng-show="!buttonedita.clicked" class="sobreTextobaixo">
                        {{textos}}
                    </span>
                </p>
            </div>
        </div>

<!--Fotos instagram texto-->
        <div class="row paddingPerfil ">
            <div class="col col-100 paddingPerfil rowfotosinstagram">
                <p class="instagramTexto">Fotos do Instagram</p>
                <p class="instagramBotaop">
                    <button class="button button-dark instagramBotao"></button>
                    <button class="button button-dark instagramBotao"></button>
                    <button class="button button-dark instagramBotao"></button>
                    <button class="button button-dark instagramBotao"></button>
                    <button class="button button-dark instagramBotao"></button>
                </p>                
            </div>                
        </div>
        
<!--Fotos instagram-->
            <div class="row" ng-repeat="insta in instagram" ng-if="$index % 3 == 0">                      
                <div class="col paddingPerfil colinstagram" ng-click="modal.show()" value="{{insta.valor}}" ng-repeat="insta in instagram.slice($index, ($index+3 > instagram.length ? instagram.length : $index+3))">
                    <img src="{{insta.url}}" class="fotosInstagram">                    
                </div>                          
            </div>
        <br>
        <br>        
    </ion-content>  
    
<!--Footer barra-->
    <ion-footer-bar class="barra hide-on-keyboard-open">
        <img src="img/tab/barrafooter.png" class="barraimg">
        <div class="buttons">
            <button class="button button-clear barrabotaopessoas" ui-sref="match1">
                <img src="img/tab/pessoas@1x.svg">
            </button>     
            <button class="button button-clear barrabotaochat" ui-sref="conversas">
                <img src="img/tab/conversas@1x.svg">
            </button>
            <button class="button barrabotaomain" ui-sref="mainmenu">
                
            </button>
            <button class="button button-clear barrabotaotimeline" ui-sref="timeline">
                <img src="img/tab/timeline@1x.svg">
            </button>
            <button class="button button-clear barrabotaouserconfig" ui-sref="userconfig">
                <img src="img/tab/configuracoes@1x.svg">
            </button>
        </div>
    </ion-footer-bar>
</ion-view>