<ion-view view-title="perfilpag" class="perfilPag" ng-controller="perfilPagCtrl">
    <ion-content class="bgperfil fontetueddin">
        
<!--fotoperfil-->
        <div class="row paddingPerfil">
           
            <div class="col imgPerfil" ng-style="{'background-image':'url('+imgBack+')'}">           
                <a class="button button-icon voltarPerfil" ui-sref="locais">
                    <img src="img/perfil/icones/voltar@1x.svg">
                </a>              
                <a class="button button-icon opcoesPerfil" ng-click="popupOpcoes()">
                    <img src="img/perfil/icones/opcoes@1x.svg">
                </a>              
                <div class="col nomePerfil">
                    <a class="textoPerfilPag">
                        <span style="font-size:1.5em;">@{{ perfil.nick }}</span>
                            <br>
                            <p style="margin: 10 0 0 0 "><span style="font-size:2em;">{{ local.pagina.local }}</span>
                            <i class="icon ion-checkmark-circled" style="font-size:1.5em;color:cornflowerblue;margin-left:5px"></i></p>
                            <span style="font-size:1.2em;">Em {{local.pagina.dt_termino| date: 'MMMM'}} de {{local.pagina.dt_termino| date: 'y'}}</span>
                    </a>
                </div>                    
                </div>
            </div>
        

<!--scroll de fotos-->
        
        <ion-scroll zooming="true" direction="x" class="scrollPerfil">
            <div class="div1Scroll">
                <div class="row div2Scroll">
                    <div class="col div3Scroll" ng-repeat="foto in fotos">     
                        <img src="{{foto.url}}" class="imgscroll"  ng-click="{{foto.funcao}}">       
                    </div> 
                </div>
            </div>
            <div ng-show="!buttonedita.clicked" style="height:100%">
                <button class="button overlay">
                    <p class="overlaytext">
                        Deslize para ver mais 
                        <img src="img/perfil/icones/avancar.png" class="overlayimg" >
                    </p>
                </button>
            </div>
        </ion-scroll>
        
<!--Botões-->
        
        <div class="row paddingPerfil" style="background-color:#F6F6F6">
            <div class="col col-25 paddingPerfil botaoImgperfil">
                <button class="button button-icon button-small ion-android-share-alt" ng-click="redeSocial()">
                </button>
            </div>
            <div class="col col-25 paddingPerfil botaoImgperfil botaomid">
                <button class="button button-icon button-small ion-heart" ng-click="curtida()">
                </button>
            </div>
            <div class="col col-25 paddingPerfil botaoImgperfil ">
                <button class="button button-icon button-small ion-chatbubble" ng-click="comentario()">
                </button>
            </div>
            <div class="col col-25 paddingPerfil botaoImgperfil  botaofim">
                <button class="button button-icon button-small ion-android-person-add" ng-click="amigo()">
                </button>
            </div>
        </div>
<!--Sobre-->
        <div class="row" style="border-bottom: 1px solid #939393;">
            <div class="col col-100 no-padding">                
                <div class="padding">
                    <h4 style="font-weight:600;">
                        Descrição
                    </h4>                    
                    <div class="text-justify text-container" style="color:#939393" ng-class="!mostraTexto.clicked? 'text-container':'show'">{{local.pagina.descricao}}</div>
                    <button class="button button-clear button-assertive" ng-model="mostraTexto" ng-click="mostraTexto.clicked = !mostraTexto.clicked">Ler Mais</button>                                                            
                </div>
            </div>
        </div>
<!--REVIEWS-->

       <div class="row" >
           <div class="col col-100 text-left">
               <div class="row">
                <h5>Reviews</h5> 
                </div>          
                 
                  <div class="row" ng-repeat="a in local.avaliacoes">
                      
                        <div class="col no-padding col-20 text-left font-small">
                            <i>{{a.txt_avaliacao}}</i>
                        </div>
                        <div class="col">
                            <div class="w3">
                                <div id="myBar" class="w3-green" style="width:{{(a.qtd / local.pagina.qtd_avaliacao) * 100}}%"></div>
                              </div>
                        </div>
                        <div class="col no-padding col-15 text-right font-small">
                            <i>{{a.qtd}}</i>
                        </div>
                      
                  </div>
                  

                   
              </div>                               
           </div>
       
       <div style="background-color:#F6F6F6" ng-controller="reviewCtrl">
               <div class="col col-100">
                     <div ng-repeat="i in [1]">
                      <ionic-ratings style="font-size:10vw;" ratingsobj='ratingsObject' index='$index'></ionic-ratings>
                    </div> 
           </div>
                <div class="col col-100">
                    <h5 class="no-margin">{{local.pagina.qtd_avaliacao}} Avaliações</h5>
                </div>
            </div>
      <div>
          <div class="row">
              <div class="col col-50">
                  <i class="icon ion-ios-heart" style="color:red; margin-right:3vw;"></i> <span>{{local.pagina.curtida}} Gostaram</span>
              </div>
              <div class="col col-50">
                  <i class="icon ion-ios-chatbubble" style="margin-right:3vw;"></i>
                  <span>{{local.pagina.comentario}} Comentarios</span>
              </div>
          </div>
          <div class="row">
              <div class="col col-50">
                  <i class="icon ion-eye" style="margin-right:3vw;"></i>
                  <span>{{local.pagina.visualizacao}} Visualizaram</span>
              </div>
              <div class="col col-50">
                  <i class="icon ion-forward" style="margin-right:3vw;"></i>
                  <span>0 Compartilhado</span>
              </div>
          </div>          
      </div>          
        
    <div id="map" data-tap-disabled="true"></div>
    
    <div class="row">
        <p class="col icon icon-left ion-ios-location font-smaller text-center">  {{local.pagina.endereco}}</p>
    </div>
               
    <div class="containerSocial padding-top">
       <div class="col text-center">
               <button class="button button-small" ng-model="butComment" ng-click="butComment.clicked = true; butPubli.clicked = false; butSobre.clicked = false;" ng-class="!butComment.clicked?'button-outline':'button-clicked'">Comentários</button>
               <button class="button button-small" ng-model="butPubli" ng-click="butComment.clicked = false; butPubli.clicked = true; butSobre.clicked = false;" ng-class="!butPubli.clicked?'button-outline-mid':'button-clicked'">Publicações</button>
               <button class="button button-small" ng-model="butSobre" ng-click="butComment.clicked = false; butPubli.clicked = false; butSobre.clicked = true;" ng-class="!butSobre.clicked?'button-outline-right':'button-clicked'">Sobre</button>
       </div>
       <br>
       <span></span>
       <div>
           <div class="row rowSocial" ng-repeat="com in local.comentario">
               <div class="item item-avatar">
                   <img ng-src="{{com.foto_perfil}}">
                   <h4>{{com.nome}}</h4>
                   <p class="font-small">{{com.comentario}}</p>
                   <i class="font-smallerx2">{{com.dt_comentario | date: 'd/M/yyyy h:mm'}}</i>
               </div>
           </div>
       </div>
    </div>
     <span></span>
    <div class="row rowMsg">
        <div class="item item-input-inset">
            <label class="item-input-wrapper" ng-controller="modalComentariosCtrl" ng-click="showComent()">
                <button class="button button-icon ion-happy-outline"></button>
              <input type="text" ng-model="$parent.txt_comentario" placeholder="Digite uma mensagem..">
              <button class="button button-icon ion-camera"></button>
            </label>
            <button class="button button-icon ion-arrow-right-c button-enviar" ng-click="comentar()"></button>
          </div>
    </div>      
                     
    </ion-content>  
    
<!--Footer barra-->
    
    
</ion-view>