<ion-view view-title="pontoenc">
    <ion-content class="fontetueddin">

<!--voltar pesquisar-->
        <row class="row bgconfig">
            <div class="col">
                <button class="button button-icon button-small" ui-sref="mainmenu"><img src="img/timeline/icones/voltar.svg"></button>
            </div>
            <div class="col col-75 textocabecalhotimeline">
                <p>Ponto de Encontro</p>
            </div>
            <div class="col">
                <button class="button button-icon button-small" ui-sref="pesquisar"><img src="img/timeline/icones/buscar.svg"></button>
            </div>            
        </row>
        <br>

<!--CARTAO PONTO DE ENCONTRO-->
        <div class="row rowcartaoponto">            
            <div class="col cartaoponto">
                <div class="divimgback">
                    <div style="background-image:url(img/teste/gus2016.jpg)" class="cartaopontoimg">   
                    </div>
                </div>
                <div class="logotipo1">
                    <div style="background-image:url(img/pontoencontro/bamboa.png)"></div>
                </div>
                    <div class="bottop">
                        <button class="button button-icon">
                            <img src="img/pontoencontro/notificacoes.svg">
                        </button>
                        <button class="button button-icon">
                            <img src="img/pontoencontro/favoritos.svg">
                        </button>
                    </div>
                    <div class="botbot">
                        <a class="plocalgps">
                            <img src="img/pontoencontro/pin.svg"> 
                                <p class="textolocalcimacartao">Bamboa</p>
                                <p class="textolocalbaixocartao">Setor Hípico, Asa Sul, DF</p>
                        </a>                      
                    </div>
                <div class="cartaopontobarra">
                        <div class="row botsbarraponto">
                            <div class="col col-33 colbotbarraponto">
                                <button class="button button-icon button-full botgosteiponto">
                                    <img src="img/pontoencontro/gostei.svg">
                                    <p>1234</p>
                                </button>
                            </div>                        
                            <span></span>
                            <div class="col col-33 colbotbarraponto">
                                <button class="button button-icon botcompartilharponto">
                                    <img src="img/pontoencontro/compartilhar.svg">
                                </button>
                            </div>                        
                            <span></span>
                            <div class="col col-33 colbotbarraponto">
                                <button class="button button-icon button-full botgosteiponto">
                                    <img src="img/pontoencontro/comentarios.svg">
                                    <p>45</p>
                                </button> 
                            </div>
                        </div>
                    </div>               
            </div>
        </div>
        <span></span>
         <div class="row rowcartaoponto">            
            <div class="col cartaoponto">
                <div class="divimgback">
                    <div style="background-image: url(img/teste/1.jpg)" class="cartaopontoimg">   
                    </div>
                </div>
                <div class="logotipo2"></div>
                    <div class="bottop">
                        <button class="button button-icon">
                            <img src="img/pontoencontro/notificacoes.svg">
                        </button>
                        <button class="button button-icon">
                            <img src="img/pontoencontro/favoritos.svg">
                        </button>
                    </div>
                    <div class="botbot">
                        <a class="plocalgps">
                            <img src="img/pontoencontro/pin.svg"> 
                                <p class="textolocalcimacartao">Bamboa</p>
                                <p class="textolocalbaixocartao">Setor Hípico, Asa Sul, DF</p>
                        </a>                      
                    </div>
                <div class="cartaopontobarra">
                        <div class="row botsbarraponto">
                            <div class="col col-33 colbotbarraponto">
                                <button class="button button-icon button-full botgosteiponto">
                                    <img src="img/pontoencontro/gostei.svg">
                                    <p>1234</p>
                                </button>
                            </div>                        
                            <span></span>
                            <div class="col col-33 colbotbarraponto">
                                <button class="button button-icon botcompartilharponto">
                                    <img src="img/pontoencontro/compartilhar.svg">
                                </button>
                            </div>                        
                            <span></span>
                            <div class="col col-33 colbotbarraponto">
                                <button class="button button-icon button-full botgosteiponto">
                                    <img src="img/pontoencontro/comentarios.svg">
                                    <p>45</p>
                                </button> 
                            </div>
                        </div>
                    </div>            
            </div>
        </div>    
    </ion-content>
    
<!--Footer barra-->
    <ion-footer-bar  class="barra hide-on-keyboard-open">
        <img src="img/tab/barrafooter.png" class="barraimg">
        <div class="buttons">
            <button class="button button-clear barrabotaopessoas" ui-sref="match1">
                <img src="img/tab/pessoas@1x.svg">
            </button>     
            <button class="button button-clear barrabotaochat" ui-sref="conversas">
                <img src="img/tab/conversas@1x.svg">
            </button>
            <button class="button barrabotaomain" ui-sref="mainmenu">               
            </button>
            <button class="button button-clear barrabotaotimeline" ui-sref="timeline">
                <img src="img/tab/timeline@1x.svg">
            </button>
            <button class="button button-clear barrabotaouserconfig" ui-sref="userconfig">
                <img src="img/tab/configuracoes@1x.svg">
            </button>
        </div>
    </ion-footer-bar>
</ion-view>