<ion-view view-title="userconfig" ng-controller="userCtrl">
    <ion-content class="bgconfig" style="font-family:'Tueddin', 'Helvetica Neue Medium'">

<!--cabeçalho-->
      <div class="row" style="color:#FAFAFA; background-color:#FAFAFA;">
        <div class="col">
          <button class="button button-icon button-small" ui-sref="mainmenu"><img src="img/userconfig/icones/Back@1x.svg"></button>
        </div>
        <div class="col-90" style="text-align:center; padding-top:1.9%; padding-right:8%;">
          <h1 class="title" style="font-size:22px">Configurações</h1>
        </div>
      </div>

<!--imagem do usuário-->
      <div class="row">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
          <img src="{{perfil.foto_perfil}}" class="fotoperfiltela">
          <button class="button button-small iconeperfiltela" ui-sref="perfil"><img src="img/userconfig/icones/edicaodeperfil@1x.svg"></button>
        </div>
        <div class="col"></div>
        <div class="col"></div>
      </div>
      <div class="row" style="text-align:center;">
        <a style="width: 100%; margin-top: 3%; color:4A4A4A; min-height:5%;">
          <p><span style="font-size:15px">{{ perfil.nome }} {{ perfil.sobrenome }}, {{perfil.idade}}</span>
            <br>
            @{{ perfil.nick }}
          </p>
        </a>
      </div>

<!--descobertas-->
        <div class="row">
            <div class="col"></div>
            <div class="col col-90" style="padding:0; margin-left:5%;">
                <a style="color:black; font-size:15px">
                    <p>Ajustes de Descobertas</p>
                </a>
            </div>
            <div class="col"></div>
        </div>
        <div class="row" >
            <div class="col"></div>
            <div class="col col-90" style="border-radius:8px; color:#FCFCFC; background-color:#FCFCFC;">
                <a style="color:#9B9B9B; margin-left:5%;">Vendo Locais e pessoas em:</a>
                    <br>
                <a class="button icon-left button-clear button-dark col-offset-10"><img src="img/iconedelocalizacao/localizacao.png" style="margin-right:5px;">Localização atual <img src="img/iconecheck/check.png" style="margin-left:5px;"></a>
                    <br>
               <button class="button button-clear button-dark col-offset-20" style="font-size:15px">Adicionar um novo local</button>

            </div>
            <div class="col"></div>
        </div>

        <div class="row">
            <div class="col"></div>
            <div class="col col-90" style="padding-top:0; padding-right:10%; margin-left:5%;">
                <a style="color:#9B9B9B; font-size:11px; line-height: 1.2; word-spacing: 1px;">
                    <p>Altere a localização de visualização e veja locais e eventos do Tueddin de outras cidades.</p>
                </a>
            </div>
            <div class="col"></div>
        </div>

<!--Preferência-->
        <div class="row" >
            <div class="col"></div>
            <div class="col col-90" style="border-radius:8px; color:#FCFCFC; background-color:#FCFCFC;">
                <a style="color:#9B9B9B; margin-left:5%;">Preferência por:</a>
                   <ul class="list">
                      <li class="item item-toggle" style="border-syle:none; border-width:0px; border-color:none; background:0; font-size:15px;">
                         Homens
                         <label class="toggle toggle-tueddin" ng-if="perfil.pref_homem == 'n'">
                           <input type="checkbox" ng-model="pref_homem" ng-click="mudaConfig(this,'pref_homem','bool')">
                           <div class="track">
                             <div class="handle"></div>
                           </div>
                         </label>

                        <label class="toggle toggle-tueddin" ng-if="perfil.pref_homem == 's'">
                          <input type="checkbox" ng-model="pref_homem" ng-checked="true" ng-click="mudaConfig(this,'pref_homem', 'bool')">
                          <div class="track">
                            <div class="handle"></div>
                          </div>
                        </label>
                      </li>
                       <li class="item item-toggle" style="border-syle:none; border-width:0px; border-color:none; background:0; font-size:15px;">
                         Mulheres
                         <label class="toggle toggle-tueddin"  ng-if="perfil.pref_mulher == 'n'">
                           <input type="checkbox" ng-model="pref_mulher" ng-click="mudaConfig(this,'pref_mulher', 'bool')">
                           <div class="track">
                             <div class="handle"></div>
                           </div>
                         </label>

                         <label class="toggle toggle-tueddin"  ng-if="perfil.pref_mulher == 's'">
                           <input type="checkbox" ng-model="pref_mulher" ng-click="mudaConfig(this,'pref_mulher', 'bool')" ng-checked="true">
                           <div class="track">
                             <div class="handle"></div>
                           </div>
                         </label>
                      </li>
                    </ul>


            </div>
            <div class="col"></div>
        </div>
        <br>
<!--área de busca-->
        <div class="row" >
            <div class="col"></div>
            <div class="col col-90" style="border-radius:8px; color:#FCFCFC; background-color:#FCFCFC;">
            <div class="row">
                <div class="col col-40">
                    <a style="color:#9B9B9B; margin-left:5%;">Área de Busca</a>
                </div>
                <div class="col"></div>
                <div class="col" style="color:#9B9B9B; text-align:center;">{{raio_busca}}mt</div>
            </div>
                    <div class="item range range-tueddin" style=" border-width:0px; background:0;">
                      <input type="range" ng-model="raio_busca" min="10" max="1000" my-touchend="mudaConfig(this, 'raio_busca', 'int')" value="{{perfil.raio_busca}}">
                    </div>
            </div>
            <div class="col"></div>
        </div>

        <br>
<!--idades-->
        <div class="row" >
            <div class="col"></div>
            <div class="col col-90" style="border-radius:8px; color:#FCFCFC; background-color:#FCFCFC;">

                <div class="row">
                <div class="col col-50">
                    <a style="color:#9B9B9B; margin-left:5%;">Mostrar idades de </a>
                </div>
                <div class="col"></div>
                <div class="col" style=" color:#9B9B9B; text-align:center;">{{idade_minima}} - {{idade_maxima}}</div>
            </div>
                    <div class="item range range-tueddin" style="border-syle:none; border-width:0px; border-color:transparent; background:0;">
                      <input type="range" ng-model="idade_minima" min="16" max="80" value="{{idade_minima}}" my-touchend="mudaConfig(this, 'idade_minima', 'int')">
                      <input type="range" ng-model="idade_maxima" min="16" max="80" value="{{idade_maxima}}" my-touchend="mudaConfig(this, 'idade_maxima', 'int')">
                    </div>
            </div>
            <div class="col"></div>
        </div>

        <div class="row">
            <div class="col"></div>
            <div class="col col-90" style="padding-top:0; padding-right:10%; margin-left:5%;">
                <a style="color:#9B9B9B; font-size:11px; line-height: 1.2; word-spacing: 1px;">
                    <p>O Tueddin usa essas preferências para sugerir combinações. Aglumas sugestões podem não estar dentro dos seus parâmetros desejados.</p>
                </a>
            </div>
            <div class="col"></div>
        </div>
<!--mostrar-me-->
        <div class="row" >
            <div class="col"></div>
            <div class="col col-90" style="border-radius:8px; color:#FCFCFC; background-color:#FCFCFC;">
                <a style="color:#9B9B9B; margin-left:5%;">Mostrar-me</a>
                    <ul class="list">
                      <li class="item item-toggle" style="border-syle:none; border-width:0px; border-color:none; background:0; font-size:15px;">
                         Mostrar-me no Tueddin
                         <label class="toggle toggle-tueddin" ng-if="perfil.mostrar == 's' ">
                           <input type="checkbox" ng-model="mostrar" ng-click="mudaConfig(this,'mostrar', 'bool')" ng-checked="true">
                           <div class="track">
                             <div class="handle"></div>
                           </div>
                         </label>

                          <label class="toggle toggle-tueddin" ng-if="perfil.mostrar == 'n' ">
                            <input type="checkbox" ng-model="mostrar" ng-click="mudaConfig(this,'mostrar', 'bool')">
                            <div class="track">
                              <div class="handle"></div>
                            </div>
                          </label>
                      </li>
                    </ul>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col col-90" style="padding-top:0; padding-right:10%; margin-left:5%;">
                <a style="color:#9B9B9B; font-size:11px; line-height: 1.2; word-spacing: 1px;">
                    <p>Ativar isto mostra o seu perfil a usuários(as) que estão no mesmo evento ou próximos(as) de você.</p>
                </a>
            </div>
            <div class="col"></div>
        </div>

<!--notificações-->

        <div class="row">
            <div class="col"></div>
            <div class="col col-90" style="padding:0; margin-left:5%;">
                <a style="color:black; font-size:15px">
                    <p>Configurações</p>
                </a>
            </div>
            <div class="col"></div>
        </div>
        <div class="row" >
            <div class="col"></div>
            <div class="col col-90" style="border-radius:8px; color:#FCFCFC; background-color:#FCFCFC;">
                <a style="color:#9B9B9B; margin-left:5%;">Notificações</a>
                    <ul class="list">
                      <li class="item item-toggle" style="border-syle:none; border-width:0px; border-color:none; background:0; font-size:15px;">
                         Novas combinações
                         <label class="toggle toggle-tueddin" ng-if="perfil.notifica_combinacao == 's'">
                           <input type="checkbox" ng-checked="true" ng-model="notifica_combinacao" ng-click="mudaConfig(this,'notifica_combinacao', 'bool')">
                           <div class="track">
                             <div class="handle"></div>
                           </div>
                         </label>
                          <label class="toggle toggle-tueddin" ng-if="perfil.notifica_combinacao == 'n'">
                            <input type="checkbox" ng-model="notifica_combinacao" ng-click="mudaConfig(this,'notifica_combinacao', 'bool')">
                            <div class="track">
                              <div class="handle"></div>
                            </div>
                          </label>
                      </li>
                       <li class="item item-toggle" style="border-syle:none; border-width:0px; border-color:none; background:0; font-size:15px;">
                         Mensagens
                         <label class="toggle toggle-tueddin" ng-if="perfil.notifica_mensagem == 's'">
                           <input type="checkbox" ng-checked="true" ng-model="notifica_mensagem" ng-click="mudaConfig(this,'notifica_mensagem', 'bool')">
                           <div class="track">
                             <div class="handle"></div>
                           </div>
                         </label>
                         <label class="toggle toggle-tueddin" ng-if="perfil.notifica_mensagem == 'n'">
                           <input type="checkbox" ng-model="notifica_mensagem" ng-click="mudaConfig(this,'notifica_mensagem', 'bool')">
                           <div class="track">
                             <div class="handle"></div>
                           </div>
                         </label>
                      </li>
                        <li class="item item-toggle" style="border-syle:none; border-width:0px; border-color:none; background:0; font-size:15px;">
                         Curtidas de postagens
                          <label class="toggle toggle-tueddin" ng-if="perfil.notifica_curtida == 's'">
                            <input type="checkbox" ng-checked="true" ng-model="notifica_curtida" ng-click="mudaConfig(this,'notifica_curtida', 'bool')">
                            <div class="track">
                              <div class="handle"></div>
                            </div>
                          </label>
                          <label class="toggle toggle-tueddin" ng-if="perfil.notifica_curtida == 'n'">
                            <input type="checkbox"ng-model="notifica_curtida" ng-click="mudaConfig(this,'notifica_curtida', 'bool')">
                            <div class="track">
                              <div class="handle"></div>
                            </div>
                          </label>
                      </li>
                        <li class="item item-toggle" style="border-syle:none; border-width:0px; border-color:none; background:0; font-size:15px;">
                         Novos Eventos
                          <label class="toggle toggle-tueddin" ng-if="perfil.notifica_evento == 's'">
                            <input type="checkbox" ng-checked="true" ng-model="notifica_evento" ng-click="mudaConfig(this,'notifica_evento', 'bool')">
                            <div class="track">
                              <div class="handle"></div>
                            </div>
                          </label>
                          <label class="toggle toggle-tueddin" ng-if="perfil.notifica_evento == 'n'">
                            <input type="checkbox" ng-model="notifica_evento" ng-click="mudaConfig(this,'notifica_evento', 'bool')">
                            <div class="track">
                              <div class="handle"></div>
                            </div>
                          </label>
                      </li>
                        <li class="item item-toggle" style="border-syle:none; border-width:0px; border-color:none; background:0; font-size:15px;">
                         Novos locais
                          <label class="toggle toggle-tueddin" ng-if="perfil.notifica_local == 's'">
                            <input type="checkbox" ng-checked="true" ng-model="notifica_local" ng-click="mudaConfig(this,'notifica_local', 'bool')">
                            <div class="track">
                              <div class="handle"></div>
                            </div>
                          </label>
                          <label class="toggle toggle-tueddin" ng-if="perfil.notifica_local == 'n'">
                            <input type="checkbox" ng-model="notifica_local" ng-click="mudaConfig(this,'notifica_local', 'bool')">
                            <div class="track">
                              <div class="handle"></div>
                            </div>
                          </label>
                      </li>
                        <li class="item item-toggle" style="border-syle:none; border-width:0px; border-color:none; background:0; font-size:15px;">
                         Novos pontos de encontro
                          <label class="toggle toggle-tueddin" ng-if="perfil.notifica_ponto == 's'">
                            <input type="checkbox" ng-checked="true" ng-model="notifica_ponto" ng-click="mudaConfig(this,'notifica_ponto', 'bool')">
                            <div class="track">
                              <div class="handle"></div>
                            </div>
                          </label>
                          <label class="toggle toggle-tueddin" ng-if="perfil.notifica_ponto == 'n'">
                            <input type="checkbox" ng-model="notifica_ponto" ng-click="mudaConfig(this,'notifica_ponto', 'bool')">
                            <div class="track">
                              <div class="handle"></div>
                            </div>
                          </label>
                      </li>
                        <li class="item item-toggle" style="border-syle:none; border-width:0px; border-color:none; background:0; font-size:15px;">
                         Novos pontos turísticos
                          <label class="toggle toggle-tueddin" ng-if="perfil.notifica_turistico == 's'">
                            <input type="checkbox" ng-checked="true" ng-model="notifica_turistico" ng-click="mudaConfig(this,'notifica_turistico', 'bool')">
                            <div class="track">
                              <div class="handle"></div>
                            </div>
                          </label>
                          <label class="toggle toggle-tueddin" ng-if="perfil.notifica_turistico == 'n'">
                            <input type="checkbox" ng-model="notifica_turistico" ng-click="mudaConfig(this,'notifica_turistico', 'bool')">
                            <div class="track">
                              <div class="handle"></div>
                            </div>
                          </label>
                      </li>
                        <li class="item item-toggle" style="border-syle:none; border-width:0px; border-color:none; background:0; font-size:15px;">
                         Charmes
                          <label class="toggle toggle-tueddin" ng-if="perfil.notifica_charme == 's'">
                            <input type="checkbox" ng-checked="true" ng-model="notifica_charme" ng-click="mudaConfig(this,'notifica_charme', 'bool')">
                            <div class="track">
                              <div class="handle"></div>
                            </div>
                          </label>
                          <label class="toggle toggle-tueddin" ng-if="perfil.notifica_charme == 'n'">
                            <input type="checkbox" ng-model="notifica_charme" ng-click="mudaConfig(this,'notifica_charme', 'bool')">
                            <div class="track">
                              <div class="handle"></div>
                            </div>
                          </label>
                      </li>
                      <!--  <li class="item item-toggle" style="border-syle:none; border-width:0px; border-color:none; background:0; font-size:15px;">
                         Crushs
                          <label class="toggle toggle-tueddin" ng-if="perfil.notifica_crush == 's'">
                            <input type="checkbox" checked="checked" ng-model="notifica_crush" ng-click="mudaConfig(this,'notifica_crush', 'bool')">
                            <div class="track">
                              <div class="handle"></div>
                            </div>
                          </label>
                          <label class="toggle toggle-tueddin" ng-if="perfil.notifica_crush == 'n'">
                            <input type="checkbox" ng-model="notifica_crush" ng-click="mudaConfig(this,'notifica_crush', 'bool')">
                            <div class="track">
                              <div class="handle"></div>
                            </div>
                          </label>
                      </li> -->
                    </ul>
                </div>
            <div class="col"></div>
        </div>
        <br>
<!--contas-->
        <div class="row" >
            <div class="col"></div>
            <div class="col col-90" style="border-radius:8px; color:#FCFCFC; background-color:#FCFCFC;">
                <a style="color:#9B9B9B; margin-left:5%;">Contas conectadas</a>
                    <ul class="list">
                      <li class="item item-toggle" style="border-syle:none; border-width:0px; border-color:none; background:0; font-size:15px;">
                         <img src="img/contasconectadas/Instagram.png" style="margin-right:6px; float:left;">Instagram
                        <label class="toggle toggle-tueddin" ng-if="perfil.conecta_instagram == 's'">
                          <input type="checkbox" ng-checked="true" ng-model="conecta_instagram" ng-click="mudaConfig(this,'conecta_instagram', 'bool')">
                          <div class="track">
                            <div class="handle"></div>
                          </div>
                        </label>
                        <label class="toggle toggle-tueddin" ng-if="perfil.conecta_instagram == 'n'">
                          <input type="checkbox" ng-model="conecta_instagram" ng-click="mudaConfig(this,'conecta_instagram', 'bool')">
                          <div class="track">
                            <div class="handle"></div>
                          </div>
                        </label>
                      </li>
                       <li class="item item-toggle" style="border-syle:none; border-width:0px; border-color:none; background:0; font-size:15px;">
                         <img src="img/contasconectadas/Spotify.png" style="margin-right:6px; float:left;">Spotify
                         <label class="toggle toggle-tueddin" ng-if="perfil.conecta_spotify == 's'">
                           <input type="checkbox" ng-checked="true" ng-model="conecta_spotify" ng-click="mudaConfig(this,'conecta_spotify', 'bool')">
                           <div class="track">
                             <div class="handle"></div>
                           </div>
                         </label>
                         <label class="toggle toggle-tueddin" ng-if="perfil.conecta_spotify == 'n'">
                           <input type="checkbox" ng-model="conecta_spotify" ng-click="mudaConfig(this,'conecta_spotify', 'bool')">
                           <div class="track">
                             <div class="handle"></div>
                           </div>
                         </label>
                      </li>
                    </ul>

            </div>
            <div class="col"></div>
        </div>

<!--Contato-->

        <div class="row">
            <div class="col"></div>
            <div class="col col-90" style="padding:0; margin-left:5%;">
                <a style="color:black; font-size:15px">
                    <p>Contato</p>
                </a>
            </div>
            <div class="col"></div>
        </div>
        <div class="row" >
            <div class="col"></div>
            <div class="col col-90" style="border-radius:8px; color:#FCFCFC; background-color:#FCFCFC;">
                    <button class="button button-full button-clear button-dark" style="margin:0; font-family:'Tueddin', 'Helvetica Neue Medium'">Ajuda e Suporte</button>
            </div>
            <div class="col"></div>
        </div>
        <br>
<!--compartilhar-indicar-->
        <div class="row" >
            <div class="col"></div>
            <div class="col col-90" style="border-radius:8px; color:#FCFCFC; background-color:#FCFCFC;">
                    <button class="button button-clear button-dark" style="margin-left:5%;">Compartilhar Tueddin</button>
                        <br>
                    <button class="button button-clear button-dark" style="margin-left:5%;">Indicar Amigos</button>
            </div>
            <div class="col"></div>
        </div>
        <br>
<!--legal-->
        <div class="row" >
            <div class="col"></div>
            <div class="col col-90" style="border-radius:8px; color:#FCFCFC; background-color:#FCFCFC;">
                <a style="color:#9B9B9B; margin-left:5%;">Legal</a>
                    <br>
                <button class="button button-clear button-dark" style="margin-left:5%; border-radius:0;">Licenças</button>
                    <br>
                <button class="button button-clear button-dark" style="margin-left:5%; border-radius:0;">Política de privacidade</button>
                    <br>
                <button class="button button-clear button-dark" style="margin-left:5%; border-radius:0;">Termos de serviços</button>
            </div>
            <div class="col"></div>
        </div>

        <br>
<!--sair-->
        <div class="row" >
            <div class="col"></div>
            <div class="col col-90" style="border-radius:8px; color:#FCFCFC; background-color:#FCFCFC;">
                   <button class="button button-full button-clear button-dark" style="margin:0;font-family:'Tueddin', 'Helvetica Neue Medium'" ng-click="sair()">Sair</button>
            </div>
            <div class="col"></div>
        </div>

<!--versão-->
        <div class="row" >
            <div class="col"></div>
            <div class="col col-90" style="text-align:center; margin-top:15%; margin-bottom:15%;">
                <a>
                    <img src="img/tueddinlogopreto.png">
                </a>
                    <br>
                <a>
                    <p style="float:right; width:100%; color:black; margin-top:7%;">Versão 1.0 (android)</p>
                </a>
            </div>
            <div class="col"></div>
        </div>



<!--apagar-->
        <div class="row" style="margin-bottom:5%;">
            <div class="col"></div>
            <div class="col col-90" style="border-radius:8px; color:#FCFCFC; background-color:#FCFCFC;">
                <button class="button button-full button-clear button-dark" style="margin:0; font-family:'Tueddin', 'Helvetica Neue Medium'" ng-click="apagaConta()">Apagar conta</button>
            </div>
            <div class="col"></div>
        </div>
    </ion-content>
</ion-view>
