<div class="col">
                      
                <div class="col cartaolocais">
                    <div class="divimgback">
                        <div ng-style="{'background-image':'url('+imagem+')'}" class="cartaopontoimg">   
                        </div>
                    </div>                
                        <div class="bottoplocais">
                            <button class="button button-icon button-small">
                                <img src="img/pontoencontro/notificacoes.svg">
                            </button>
                            <button class="button button-icon button-small">
                                <img src="img/pontoencontro/favoritos.svg">
                            </button>
                        </div>
                        <div class="botbotlocais">
                            <div class="plocalgpslocais">
                                <img src="img/pontoencontro/pin.svg"> 
                                    <p class="textolocalcimacartaolocais font-smallerx4">{{titulo}}</p>
                                    <p class="textolocalbaixocartaolocais font-smallerx4">{{local}}</p>
                            </div>                      
                        </div>
                    <div class="cartaopontobarralocais">
                        <div class="row botsbarrapontolocais">
                            <div class="col col-33 colbotbarralocais">
                                <button class="button button-icon button-small">
                                    <img src="img/pontoencontro/gostei.svg">
                                    <p>1234</p>
                                </button>
                            </div>                        
                            <span></span>
                            <div class="col col-33 colbotbarralocais">
                                <button class="button button-icon botcompartilharlocais button-small">
                                    <img src="img/pontoencontro/compartilhar.svg">
                                </button>
                            </div>                        
                            <span></span>
                            <div class="col col-33 colbotbarralocais">
                                <button class="button button-icon button-small">
                                    <img src="img/pontoencontro/comentarios.svg">
                                    <p>45</p>
                                </button> 
                            </div>
                        </div>
                    </div>              
                </div>
                
            </div> 