<div class="chatResposta">           
            <div class="row">
                <div class="col col-80 no-padding margin-left">
                    <div class="bolhaChat-small">
                        <p class="font-smaller padding no-margin">{{resposta}}</p>
                    </div>
                    <p class="font-smallerx2 no-margin" style="color:#a8a8a8">{{hora}}
                        
                    </p>
                </div>  
                <div class="col col-20 no-padding-top">        
                    <div class="avatarChat-small" ng-style="{'background-image':'url('+avatar+')'}"></div>
                    <p class="no-margin font-smallerx2 width-full">{{nome}}</p>
                </div>
            </div>
        </div>