<div class="bar bar-footer rowMsg no-padding">         
            <div class="row">
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <button class="no-padding button button-icon ion-happy-outline"></button>
                      <input type="text" style="width:80%;" placeholder="Digite uma mensagem..">
                      <button class=" no-padding button button-icon ion-camera"></button>
                    </label>
                    <button class="button button-icon ion-arrow-right-c button-enviar"></button>
                  </div>
            </div>
        </div> 