 <ion-footer-bar class="barra hide-on-keyboard-open">
        <img src="img/tab/barrafooter.png" class="barraimg">
        <div class="buttons">
            <button class="button button-clear barrabotaopessoas" ui-sref="match1">
                <img src="img/tab/pessoas@1x.svg">
            </button>     
            <button class="button button-clear barrabotaochat" ui-sref="conversas">
                <img src="img/tab/conversas@1x.svg">
            </button>
            <button class="button barrabotaomain" ui-sref="mainmenu">
                
            </button>
            <button class="button button-clear barrabotaotimeline" ui-sref="timeline">
                <img src="img/tab/timeline@1x.svg">
            </button>
            <button class="button button-clear barrabotaouserconfig" ui-sref="userconfig">
                <img src="img/tab/configuracoes@1x.svg">
            </button>
        </div>
    </ion-footer-bar>