<ion-modal-vew view-title="Sobre" class="modalComent">
    <ion-content class="bgwhite modalComent">
        <ion-header-bar>
            <button class="button button-icon ion-close botaoModal" ng-click="sobre_modal.hide()">
            </button>
            <h4 class="titulo-sobre text-center">Sobre Teste</h4>
            <button class="button button-icon botaoModal botaoRight" ui-sref="pesquisar" ng-click="sobre_modal.hide()">
                <img src="img/timeline/icones/buscar.svg">
            </button>
        </ion-header-bar>
        <ion-content>
            <div id="map" data-tap-disabled="true"></div>
            <br>
            <div class="row">
                <h4 class="width-full text-center texto-sobre">Próximo Evento</h4>
            </div>
            
                <div class="row row-evento">
                    <i class="icon ion-calendar texto-sobre icon-grande"></i>
                    <span class="texto-sobre">14 de Abril, as 21h30</span>
                </div>
                
            <div class="container-sobre">
        
            <div class="row row-sobre">
                <i class="icon texto-sobre ion-map icon-medio"></i>
                <p class="texto-sobre font-smaller">SHIP Trecho 3 21 - Asa Sul, Brasília - DF, 70297-400</p>
            </div>
            <div class="row row-sobre">
                <i class="icon texto-sobre ion-information-circled icon-medio"></i>
                <p class="texto-sobre font-smaller">Danceteria</p>
            </div>
            <div class="row row-sobre">
                <i class="icon texto-sobre ion-iphone icon-medio"></i>
                <p class="texto-sobre font-smaller">Ligar (61)3334-4450</p>
            </div>
            <div class="row row-sobre">
                <i class="icon texto-sobre ion-connection-bars icon-medio"></i>
                <p class="texto-sobre font-smaller">Aberto: Sexta, Sábado e domingo</p>
            </div>
            <div class="row row-sobre">
                <i class="icon texto-sobre ion-earth icon-medio"></i>
                <p class="texto-sobre font-smaller">www.bamboabrasil.com.br</p>
            </div>
            <div class="row row-sobre">
                <i class="icon texto-sobre ion-chatbox icon-medio"></i>
                <p class="texto-sobre font-smaller">Enviar mensagem agora.</p>
            </div>
            <div class="row row-sobre">
                <i class="icon texto-sobre ion-email icon-medio"></i>
                <p class="texto-sobre font-smaller">contato@bamboabrasil.com.br</p>
            </div>
            <div class="row row-sobre">
                <i class="icon texto-sobre ion-clock icon-medio"></i>
                <p class="texto-sobre font-smaller">Aberto de 21h30 às 04h00.</p>
            </div>
            <div class="row row-sobre">
                <i class="icon texto-sobre ion-android-restaurant icon-medio"></i>
                <p class="texto-sobre font-smaller">Restaurante/Cozinha</p>
            </div>
            <div class="row row-sobre">
                <i class="icon texto-sobre ion-android-wifi icon-medio"></i>
                <p class="texto-sobre font-smaller">Wi-Fi</p>
            </div>
            <div class="row row-sobre">
                <i class="icon texto-sobre ion-ios-snowy icon-medio"></i>
                <p class="texto-sobre font-smaller">Ar Condicionado</p>
            </div>
            <div class="row row-sobre">
                <i class="icon texto-sobre ion-android-desktop icon-medio"></i>
                <p class="texto-sobre font-smaller">TV</p>
            </div>
            <div class="row row-sobre">
                <i class="icon texto-sobre ion-android-car icon-medio"></i>
                <p class="texto-sobre font-smaller">Estacionamento</p>
            </div>    
            </div>
        </ion-content>
        
         <!--Footer barra-->
           <footer-tueddin></footer-tueddin>
   
    </ion-content>
   
</ion-modal-vew>