/*--------------------------------------Geral*/
.bckground{
    text-align:center;
    color:#161820;
    background-color: #161820;
}

.bgmain{
    background-color:#161820;
    color:#161820;    
}

.bgconfig{
    background-color:#F6F6F6;
    color:#F6F6F6;
}

.fontetueddin{
    font-family:"Tueddin", "HelveticaNeue-Medium";
}

.fontetueddin2{
    font-family:"Tueddin", "HelveticaNeue";
}

/*-----------------------------------Login*/
.logo{
    height:28%;
    margin-top:25%;
    opacity:0.9;
    background-repeat: no-repeat;
}

.logocadastro{
    width:80%;
}

.buttonmain{  
    border-radius:4px;
    border-style: none;
    flex: 0 0 42%;
    max-width: 42%;
    padding-bottom: 3%;
    padding-top: 3%;
}

.login{
    padding-bottom:2%; 
    padding-top:2%;
    font-size:15px;
    border-radius:10px;
    opacity:0.8;
    text-decoration-color: White;
}

.svg{
    height:10%;
}

.textLogin{
    padding:10%;
    color:darkgray;
    font-size:8px;
    text-align: center;
    line-height: 1.2;
    word-spacing: 2px;
}

.botaofb{
    opacity:1.0; 
    background-color: #3b5998; 
    color:white; 
    padding-left:7%
}

.botaotw{
    opacity:1.0; 
    background-color: #00aced; 
    color:white;
}

.botaogplus{
    opacity:1.0; 
    background-color: #DD4B39; 
    color:white;
}

.textolink{
    text-decoration:underline; 
    text-decoration-color:white;
}



/*----------------------------------User Config*/

.rowcabecalho{
    color:#FAFAFA; 
    background-color:#FAFAFA;
}

.colcabecalho{
    text-align:center; 
    padding-top:1.5%; 
    margin-right:2%;
}

    .colcabecalho h1{
        font-size:22;
    }

.rowtextoimg{
    width: 100%; 
    margin-top: 3%; 
    color:4A4A4A; 
    min-height:5%;
}

.rowtextoimg2{
    text-align:center;
}

.rowtextoimgcima{
    font-size:15px;
}

.textocimaconfig{
    color:black; 
    font-size:14px;
}

.textodentroconfig{
    color:#9B9B9B; 
    margin-left:5%;
}

.textobaixoconfig{
    color:#9B9B9B; 
    font-size:11px; 
    line-height: 1.2; 
    word-spacing: 1px;
}

.coltextocima{
    padding:0; 
    margin-left:5%;
}

.coltextobaixo{
    padding-top:0; 
    padding-right:10%;
    margin-left:5%;
}

.colconfig{
    border-radius:8px; 
    color:#FCFCFC; 
    background-color:#FCFCFC;
}

.marginlocalizacao1{
    margin-right:2px;
}

/*.marginlocalizacao2{
    margin-left:5px;
}*/

.selecao1{
    border-style:none; 
    border-width:0px; 
    border-color:none; 
    background:0; 
    font-size:15px;
}

.textoarea{
    color:#9B9B9B; 
    text-align:center;
}

.areaselecao{
    border-width:0px; 
    background:0;
    border-style:none; 
    border-color:none; 
}

.iconecontas{
    margin-right:6px; 
    float:left;
}

.botajuda{
    margin:0;
    color:#444;
    background: transparent;
    width: 100%;
}

.botindica{
    margin:0;
    color:#444;
    background: transparent;
}

.botlegal{
    margin-left:5%; 
    border-radius:0;
    color:#444;
    background: transparent;
}

.logobaixo{
    text-align:center; 
    margin-top:15%; 
    margin-bottom:15%;
}

.textologobaixo{
    float:right; 
    width:100%; 
    color:black; 
    margin-top:7%;
}

.rowapagar{
    margin-bottom:5%;
}

.iconeperfiltela{
    position: relative;
    background: 0;
    top: 35px;
    right: 50%;        
}

    .iconeperfiltela.activated{ 
            background:0; 
            border:0;
            opacity:0.3;
    }

.fotoperfiltela{
        max-height:98px;
        max-width:98px;
        min-height:98px;
        min-width:98px;
        /*margin-top: 25%;*/ 
        border-radius:50%;  
        border: 2px solid white;
        /*margin-bottom:-37%;*/
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        
}


/*----------------------------------TIMELINE*/

.textocabecalhotimeline{
    color: black;
    text-align: center;
    padding-top: 3%;
    font-size: 18px;
    font-family: "TueddinLight";
}

/*-----------------------------------input de texto*/
.textarea-container {
  position: relative;
  width: 50%;
}

textarea, .textarea-size {
  min-height: 25px;
  font-size: 14px;
  box-sizing: border-box;
  padding-top: 4vw;
  overflow: hidden;
  width: 100%;
}

textarea {
  height: 100%;
  position: absolute;
  resize:none;
  white-space: normal;
}

.textarea-size {
  visibility: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/*-------------------------------------------------------*/

.rowescrever{
    border-top: 1px solid #D3D3D3;
    border-bottom: 1px solid #D3D3D3;
    margin-top: -2%;
    height:50px;
}

.rowescreverimgperfil{
    border-radius:50%;
    width: 12vw;
    height: 12vw;
    margin-top: 1vw;
}

.colimagemescrever{
    text-align:center;
}

.colclipe{
    border-right:1px solid #D3D3D3;
}

.caixaescrever{
    border:0;
    width:99%;
    padding-left:5px;
    height:100%
}

    .caixaescrever input{
        font-size:12px;
    }

.imagemclipe{
    width:25px;
    height:25px;
    margin-left: 26%;
    margin-top: 40%;
}

.paddingtimeline{
    padding:0;
}

.rowpost{
    border-top: 1px solid #D3D3D3;
    display:block;
    padding:0;
}

/*---------------------------------TIMELINE POST TEXTO*/
.textonome{
    width:100%;
    float:right;
    font-size:12px;
    font-weight: bold;
    margin:0;
}

.textohora{
    width:100%;
    font-size:11px;
    float:left;
    margin:0;
    color:#d3d3d3;
}

.textopost{
    text-align: justify;
    font-size: 13px;
}

.imgposts{
    text-align:left;
    margin-left:2%;
}

.butseguir{
    padding: 0;
    margin:0;
    margin-right:5%;
}

.butseguir img{
    height:32px;
}

.colseguir{
    text-align: right;
}

.textodentrobalao{
    position:relative;
    margin:0;
    padding:0;
    
}

.colsocial{
    display: -webkit-inline-box;
}

.butsocial{
    padding:0;
    margin:0;
    vertical-align: -webkit-baseline-middle;
}

.balaosocialmed{
    background-image:url('../img/timeline/post/balao02.png');
    background-repeat: no-repeat;
    width: 17%;
    margin-top: 4%;
    margin-left: 2%;
    text-align: center;
}

.balaosocialgr{
    background-image:url('../img/timeline/post/balao03.png');
    background-repeat: no-repeat;
    width: 17%;
    margin-top: 4%;
    margin-left: 2%;
    text-align: center;
}

.balaosocialpeq{
    background-image:url('../img/timeline/post/balao01.png');
    background-repeat: no-repeat;
    width: 17%;
    margin-top: 4%;
    margin-left: 2%;
    text-align: center;
    padding-right: 4%;
}




/*---------------------------------TIMELINE POST IMAGEM*/
.fotopost{
    width:100%;
    padding:0;
    margin:0;
    text-align: center;
    overflow: hidden;
}

.fotopost img{
    max-width:100%;
    
}

.rowfotopost{
    padding-left:0;
    padding-right:0;
}



/*----------------------------------Main*/

.botpontodeencontro{
    background-image:url('../img/main/fotos/pontoDeEncontro.png'); background-size:cover;
}
.botlocais{
    background-image:url('../img/main/fotos/locais.png'); 
    background-size:cover;
}
.botpessoas{
    background-image:url('../img/main/fotos/pessoas.png'); 
    background-size:cover;
}
.botcriarponto{
    background-image:url('../img/main/fotos/criarPonto.png'); 
    background-size:cover;
}
.botturistico{
    background-image:url('../img/main/fotos/pontosTuristicos.png'); 
    background-size:cover;
}
.botconversas{
    background-image:url('../img/main/fotos/conversas.png'); 
    background-size:cover;
}
.botfavoritos{
    background-image:url('../img/main/fotos/favoritos.png'); 
    background-size:cover;
}
.botexplorar{
    background-image:url('../img/main/fotos/explorar.png'); 
    background-size:cover;
}
.rowbaixo{
    max-height:69px;
}


/*---------------------------------Cadastro*/
.inputcadastro{
    border-color: #7F7F7F;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    padding-top: 3.5px;
    padding-bottom: 3.5px;
    border-width: 2px;
    border-style: solid;
    font-size: 16px;
    border-radius: 6px;
}
    .inputcadastro input{
        color:#C0C0C0;
    }

.inputnome{
    height: 15vw;
}

.inputsexoidade{
    padding-top: 6.5%; 
    padding-bottom: 6.5%; 
    padding-left:0;
}

.sobetexto{
    width:100%;
    text-align: left;
    font-size: 3vw;
}.sobetexto.input-label.has-input{
    top:8px;
}

.cadastrobotao{
    border-radius:6px;
}
.inputrow{
    margin-top:1%;
}
.termos{
    border-color: transparent; 
    background-color: transparent; 
    color: #C0C0C0; 
    position: relative;
    z-index: 2;
    display: block;
    margin-left:15px;
    margin-right:15px;
    padding-left:13%;
    padding-top:8%;
    border-width: 0px;
    border-style: none;
    font-size: 12px;
    border: 0;
}
/*.inputidadeesexo{
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: #C0C0C0;
    cursor: default;
    border-width: 0px;
    border-style: none;
    border-color: transparent;
    border-image: none;
    background-color: transparent;
    background-color: transparent;
}*/
.termosbox{
    top:57%;
}
.termostexto{
    white-space:normal;
    padding-left:3%; 
    text-align:left;
}
.cadastro{
    border-color: transparent; 
    background-color: transparent; 
    width: 100px;
    padding-left: 5px;
    padding-right:5px;
    font-size: 14px;
    line-height: 1;
    border:0px;
    background: url('../img/cadastro/arrow.png') no-repeat right #161820;
    -webkit-appearance: none;
    height:3%;
    color: #C0C0C0;
}

/*----------------------------------------Barra de nav*/

.barra{
    padding:0;
    z-index:2;    
    transition: bottom 0.25s ease;
}
.barra-no{
    bottom:-50px;
    .scrollfoot{
        padding-top:50px;
    }
}
ion-footer-bar.barra-slide-away{
    .barra{
        bottom:0;
    }
    .barra-no{
        position:relative;
        bottom:-50px;
    }
}
.barraimg{
    position: relative;
    top: -67%;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 73px;
}
.barrabotaopessoas{
    position: absolute;
    left: 20px;
    top: 6px;
}
.barrabotaochat{
    position: absolute;
    left: 77px;
    top: 6px;
}
.barrabotaomain{
        position: absolute;
        left: 40%;
        top: -35px;
        height: 70px;
        width: 70px;        
        background-color:transparent;
    }  
    .barrabotaomain.activated{
        background-color:transparent;
        border:0;
    }
    .barrabotaomain img{
        height: 70px;
        width: 70px;
}
.barrabotaotimeline{
    position: absolute;
    left: 207px;
    top: 6px;
}
.barrabotaouserconfig{
    position: absolute;
    left: 268px;
    top: 6px;
}


/*----------------------------------------EXPLORAR*/

.colimgexplorar{
    background-image:url('../img/explorar/restaurante.png');
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    margin-left: 0.7%;
    margin-right: 0.7%;
    margin-bottom: 1%;
    height: 30vw;
    flex: 0 0 32%;
}
.colimgexplorarboate{
    background-image:url('../img/explorar/boate@2x.png');
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    margin-left: 0.7%;
    margin-right: 0.7%;
    margin-bottom: 1%;
    height:30vw;
    flex: 0 0 32%;
}
.colimgexplorarbar{
    background-image:url('../img/explorar/barBoteco@2x.png');
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    margin-left: 0.7%;
    margin-right: 0.7%;
    margin-bottom: 1%;
    height: 30vw;
    flex: 0 0 32%;
}
.colimgexplorarpop{
    background-image:url('../img/explorar/pop@2x.png');
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    margin-left: 0.7%;
    margin-right: 0.7%;
    margin-bottom: 1%;
    height: 30vw;
    flex: 0 0 32%;
}
.colimgexplorarjazz{
    background-image:url('../img/explorar/jazz.png');
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    margin-left: 0.7%;
    margin-right: 0.7%;
    margin-bottom: 1%;
    height: 30vw;
    flex: 0 0 32%;
}
.colimgexplorarrock{
    background-image:url('../img/explorar/rock@2x.png');
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    margin-left: 0.7%;
    margin-right: 0.7%;
    margin-bottom: 1%;
    height: 30vw;
    flex: 0 0 32%;
}
.colimgexplorarautomotivo{
    background-image:url('../img/explorar/automotivo@2x.png');
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    margin-left: 0.7%;
    margin-right: 0.7%;
    margin-bottom: 1%;
    height: 30vw;
    flex: 0 0 32%;
}
.colimgexplorarshows{
    background-image:url('../img/explorar/shows@2x.png');
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    margin-left: 0.7%;
    margin-right: 0.7%;
    margin-bottom: 1%;
    height: 30vw;
    flex: 0 0 32%;
}
.colimgexplorartempo{
    background-image:url('../img/explorar/voltaaotempo@2x.png');
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    margin-left: 0.7%;
    margin-right: 0.7%;
    margin-bottom: 1%;
    height: 30vw;
    flex: 0 0 32%;
}
.colimgexplorarhip{
    background-image:url('../img/explorar/hiphopFunk@2x.png');
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    margin-left: 0.7%;
    margin-right: 0.7%;
    margin-bottom: 1%;
    height: 30vw;
    flex: 0 0 32%;
}
.colimgexplorarpunk{
    background-image:url('../img/explorar/punk@2x.png');
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    margin-left: 0.7%;
    margin-right: 0.7%;
    margin-bottom: 1%;
    height: 30vw;
    flex: 0 0 32%;
}
.colimgexplorarchurrasco{
    background-image:url('../img/explorar/churrasco@2x.png');
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    margin-left: 0.7%;
    margin-right: 0.7%;
    margin-bottom: 1%;
    height: 30vw;
    flex: 0 0 32%;
}
.colimgexplorarsertanejo{
    background-image:url('../img/explorar/sertanejo@2x.png');
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    margin-left: 0.7%;
    margin-right: 0.7%;
    margin-bottom: 1%;
    height: 30vw;
    flex: 0 0 32%;
}
.colimgexplorarblues{
    background-image:url('../img/explorar/bluesSoul@2x.png');
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    margin-left: 0.7%;
    margin-right: 0.7%;
    margin-bottom: 1%;
    height:30vw;
    flex: 0 0 32%;
}
.colimgexplorarreaggea{
    background-image:url('../img/explorar/reggae@2x.png');
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    margin-left: 0.7%;
    margin-right: 0.7%;
    margin-bottom: 1%;
    height: 30vw;
    flex: 0 0 32%;
}
.colimgexplorareletronica{
    background-image:url('../img/explorar/eletronica@2x.png');
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    margin-left: 0.7%;
    margin-right: 0.7%;
    margin-bottom: 1%;
    height: 30vw;
    flex: 0 0 32%;
}
.colimgexplorargospel{
    background-image:url('../img/explorar/cristaGospel@2x.png');
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    margin-left: 0.7%;
    margin-right: 0.7%;
    margin-bottom: 1%;
    height: 30vw;
    flex: 0 0 32%;
}
.colimgexplorarclassica{
    background-image:url('../img/explorar/classica@2x.png');
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    margin-left: 0.7%;
    margin-right: 0.7%;
    margin-bottom: 1%;
    height: 30vw;
    flex: 0 0 32%;
}



/*----------------------------------------Perfil*/
.voltarPerfil{
    padding-left:5%; 
    margin-top:5%; 
    margin-right:55%;
}

.sharePerfil{
    margin-right:5%; 
    margin-top:5%;
}

.opcoesPerfil{
    padding-left:2%; 
    margin-right:2%; 
    padding-top:8%;
}

.textoPerfil{
    float:right; 
    width: 100%; 
    margin-top: 40%; 
    min-height:12%; 
    color:white; 
    position:relative; 
    z-index:2; 
    text-align:center;
}

.textoCima{
    font-size:16; 
    font-weight:bold;
}

.seguindoPerfil{
    float:left; 
    margin-top: 1%; 
    min-height:12%; 
    color:white; 
    position:relative; 
    z-index:2; 
    text-align:center; 
    padding-left:7%;
    top:-2%;
}

.textocimaSeguindo{
    font-size:5vw;
}

.textobaixoSeguindo{
    font-size:3vw;
}

.seguidoresPerfil{
    float:right; 
    margin-top: 1%; 
    min-height:12%; 
    color:white; 
    position:relative; 
    z-index:2; 
    text-align:center; 
    right:5%;
    top:-2%;
}

.rowshade{
    background: -webkit-linear-gradient( rgba(0, 0, 0, 0), black 100%);  
    background-size: cover;
    position: relative;
    top: 1vw;
    margin: 0;
    border: 0;
    width: 102%;
    height:75px;
    padding: 0;
    left: -3px;
}

.paddingPerfil{
    padding:0;
}

.imgPerfil{
    width:100%; 
    height:320px; 
    margin:0; 
    padding:0; 
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    overflow: hidden;
    max-height:320px;
}

.scrollPerfil{
    width:100%; 
    height:75px; 
    float:left;
}

.botscroll{
    margin:0;
    padding:0;
    border:0;
}

.imgscroll{
    margin:0; 
    padding:0; 
    float:left;
    max-height: 75px;
    max-width: 132px;
}

.div1Scroll{
    width:500%; 
    height:auto; 
    float:left;
    padding:0;
}

.div2Scroll{
    margin:0; 
    padding:0;
}

.div3Scroll{
    width:100%; 
    margin:0; 
    padding:0;
}

.overlay{
    position: relative;
    opacity: 0.3;
    height: 75px;
    width: 200%;
    margin: 0;
    padding-left: 31%;
    z-index: 2;
    left: 0;
    top:-77px;
    background: -webkit-radial-gradient(circle, black 47%, rgba(255, 0, 0, 0) 99%);
    line-height: 53px;
    text-align: left;
    transition: all 10s ease;
}

    .overlay.activated{
        opacity:0;
        content:none;
        background-color: black;
        width: 1px;
        padding:0;
        color:transparent;
        text-decoration: none;
        transition: all 0.5s ease;
    }

.overlaytext{    
    color:white; 
    margin:0;       
}

.overlayimg{
    height:11px;
}

.iconeoverlay{
    height:10px;
}

.botaoImgperfil{
    text-align:center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.botaomid{
    border-left: 2px #d3d3d3 solid;
    border-right: 2px #d3d3d3 solid;
}

.localPerfil{
    color:white;
    background-image:url('../img/perfil/local/barra.png');
    height:11vw;
    text-align:center;
    vertical-align: middle;
    padding:5 0;
}

.iconelocal{
    float:left;
    margin-left:35%;
    margin-right:-32%;
}

.textolocal{
    margin-top:1%;
    font-size:4vw;
}

.sobreBalao{
    background-image: url('../img/perfil/sobre/sobre@2x.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height:25vw;
    margin-top:10px;
}

.sobreTexto{
    width: 86vw;
    margin-left: 5%;
    position: relative;
    text-align: left;
    font-size: 4vw;
    line-height: 5vw;
}

.sobreTextocima{
    position: relative;
    top: 2vw;
    z-index:10;
}

.sobreTextobaixo{
    position:relative;
    border: none;
    top: 2vw;
    left:2vw;
    padding: 0;
    height: 13vw;
    color:lightgray;
}

.sobreTextobaixoedita{
    position:relative;
    border: none;
    left:2vw;
    padding: 0;
    height: 13vw;
    color:lightgray;
}

.divSobre{
    height:100px;
}

.instagramTexto{
    margin-left:3%;
    font-size:10px;
    float:left;
    
}

.instagramBotao{
    border-radius: 50%;
    height: 6px;
    width: 6px;
    min-width: 0px;
    min-height: 0px;
    padding: 0;
    margin: 0;
}

.instagramBotaop{
    position: relative;
    left: 55%;
    top: 9px;
    float: left;
}

.fotosInstagram{
    min-width: 106px;
    min-height: 106px;
    max-height: 106px;
    max-width: 106px;
}

.paddingInstagram{
    padding-left:0.5%;
    padding-right:0.5%;
    padding-top:0.25%;
    padding-bottom:0.25%;
}

.colinstagram{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 20%;
}

.popupperfilbot{
    border-radius: 5px; 
    background-color: transparent; 
    border: 0; 
    border-bottom:1px darkgray solid; 
    color:black;
}

    .popupperfilbot.activated{
    background-color: darkgray;
    opacity:0.3;
}

.botmodalfechar{
    height:100%;
    padding:0;
    margin:0;
    width:100%;
    
}

.bgmodalperfil{
    background-color:black;
    border:none;
    border-color: transparent;
    text-align: center;
} .bgmodalperfil h1{
    color:white;
    text-align: center;
}

  .modalperfilimg{
        background-size: cover; 
        background-position: center center;
        background-repeat: no-repeat; 
        overflow: hidden; 
        background-color: black;
        height:100%;
        width:100%;
        margin:0;
        padding:0;
    }
    
    .bgmodalperfil{
        background-color: black;
        color:black;
    }

/*-------------------------------------MATCH*/

.botaovisual{
    margin-left:5%;
    height: 28px;
    margin-top: 3%;
}

.colbotaovisual{
    text-align:center;
}

.botaograde{
    position:absolute;
    top:17px;
    left:194px;
    background-color: transparent;
    border:0;
    padding:0;
    margin:0;
    min-height:28px;
    max-height:28px;
    width:78px;
}

    .botaograde.activated{
        background-color: transparent;
        opacity:0.1;
        border-radius:50%;
        border:0;
    }

.botopcoesmatch{
    background-color:transparent;
}

    .botopcoesmatch.activated{
        background-color:transparent;
        border:0;
        opacity:0.3;
    }

.botaouma{
    position:absolute;
    top:17px;
    left:103px;
    background-color: transparent;
    border:0;
    border-radius:50%;
    padding:0;
    margin:0;  
    max-height:28px;
    min-height:28px;
    max-height:28px;
    width:78px;
}
    .botaouma.activated{
        background-color: transparent;
        opacity:0.1;
        border-radius:50%;
        border:0;
    }
        
.opcoesMatch{
    padding-left: 0%;
    margin-right: 2%;
    margin-top: 15%
}

.rowcartao{
    padding-left:5%;
    padding-right:5%;
    padding-top:0;
    padding-bottom:0;
    margin-top:-5%;
    margin-left:0;
    margin-right:0;
    margin-bottom:200px;
}

.cartaopessoa{
    height:120vw;
    width:100%;
    background-color:snow;
    border-radius:8px;
    padding:0;
    overflow: hidden;
    margin:0;
}

.cartaopessoaimg{
    height:105vw;
    width:101%;
    background-color:transparent;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    padding:0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin:-1px;
}

    .cartaopessoa p{       
        margin-left:5%;
        margin-top:5%;
        font-size: 18px;
        color:grey;
    }

.botaolista{
    position:relative;
    top:-375px;
}

.botaoimg{
    position:relative;
    right:5px;
    float:right;
    background:0;
    background-color:transparent;
    border-radius:50%;
    border:0;
    margin:;
}

    .botaoimg img{
        width:10px;
        height:10px;
    }

.rowlike{
    position:relative;
    bottom:32vw;
    padding: 0 40;
    text-align: center;
}

.rowlike img{
    height:18vw;
}

.botaolike{
    background: 0;
    border: 0;
    padding:0;
    margin:0;
}

    .botaolike.activated{
        background:black;
        opacity:0.1;
    }

/*-------------------------------------MATCH GRADE*/

.rowGrade{
    margin-left:10%;
    margin-right:10%;
    margin-top:1.5%;
    margin-bottom:1.5%;
    padding:0;
    max-width:80%;
}

.colGradepessoa{
    text-align: center;
    background-color:transparent;
    border:0;
}

.botGradepessoa{
    background-color:transparent;
    width:73px;
    height:73px;
    border-radius:50%;
    border:0;
    padding:0;
    overflow:hidden;
}

.bordared{
    position:absolute;
    top:0;
    width:73px;
    height:73px;
    border:2px red solid;
    border-radius:50%;
    opacity:0.8;
}

    .botGradepessoa img{        
        background-color:transparent;
        width:105%;     
        border-radius: 50%;
        height:105%;
        overflow:visible;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin:-1px;
    }

.notificacaored{
    height:23px;
    width: 25px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: red;
    text-align:center;
    line-height: 23px;
    font-size: 12px;
    color: white;
    float: left;
    opacity: 0.9;
}

/*.notificacaored2{
    position:absolute;
    top:34%;
    margin-left:17%;
    height:20px;
    width:20px;
    border-radius:50%;
    background-color: red;
    text-align: center;
    line-height: 23px;
    font-size:10px;
    color:white;
    z-index:2;
}
.notificacaored3{
    position:absolute;
    top:55%;
    margin-left:17%;
    height:20px;
    width:20px;
    border-radius:50%;
    background-color: red;
    text-align: center;
    line-height: 23px;
    font-size:10px;
    color:white;
    z-index:2;
}
.notificacaored4{
    position:absolute;
    top:76%;
    margin-left:17%;
    height:20px;
    width:20px;
    border-radius:50%;
    background-color: red;
    text-align: center;
    line-height: 23px;
    font-size:10px;
    color:white;
    z-index:2;
}*/

.divNomepessoa{
    max-width:100%;
    min-width:25%;
    border-radius:20px;
    background-color:black;
    color:whitesmoke;
    padding:0;
    margin:0;
    margin-top:8%;
    text-align:center;
    height:23px;
}

    .divNomepessoa p{        
        padding:2%;
        margin:0;
        line-height: 20px;
        font-size:12px;
    }

/*-------------------------------------COMINAÇÃO*/
.bgcombina{
    background-color:#161820;
    background-image: url('../img/combinacao/back.png');
    background-size: contain;
    background-position:top center;
    background-repeat: no-repeat;
}

.colimgcomb{
    border-radius: 50%;
    background-position: center center;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    border:3px white solid;
    height:38vw;
    margin: 0 5;
}

.coltextocomb{
    color:white;
    text-align: center;
    font-size:4vw;
}

.botcomb{
    border-radius:22px;
    text-align: center;
    vertical-align: middle;
    font-size:5vw;
}

.botcomb img{
    position: relative;
    top: 4px;
}

.colbotcomb{
    padding:0;
}

/*-------------------------------------PONTO DE ENCONTRO*/

.rowcartaoponto{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 5%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 15%;
    text-align:center;
}

.cartaoponto{
    height: 300px;
    width: 100%;
    background-color: transparent;
    border-radius: 3%;
    padding: 0;
    box-shadow: 0px 2px 6px black;
}

.divimgback{
    overflow:hidden;
    border-radius: 9px;
}

.cartaopontoimg{
    overflow:hidden;
    width:100%;
    height:100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.colbotbarraponto{
    height:50px;
}

.cartaopontobarra{
    position: relative;
    bottom: 50px;
    height: 54px;
    background-color: snow;
    border-top:4px solid lightgray;
    border-bottom-right-radius:13px;
    border-bottom-left-radius:13px;
}

.bottop{
    border-radius:50px;
    background-image:url('../img/pontoencontro/bg_icones@3x.png');
    width:30%;
    float:right;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    position:relative;
    top:-300px
}

.botbot{
    border-radius:50px;
    background-image:url('../img/pontoencontro/bg_icones@3x.png');
    width:60%;
    float:left;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 130px;
    position: relative;
    z-index: 5;
    background-position: center center;
    height: 12%;
    right:24%;
}

.botsbarraponto{
    position: relative;
    top: -84px;
}

.plocalgps{
    color: white;
    text-align: -webkit-left;
    margin:0;
}

    .plocalgps img{
        height: 30px;
        position: relative;
        bottom: -3px;
        left: 3px;
        float:left;
        margin-right:5%;
    }

    .plocalgps p{
        padding:0;
        margin:0;
    }

.botgosteiponto{
    text-align: center;
    max-height: 100%;
}

    .botgosteiponto p{
        float:left;
        margin-top:-9px;
    }

    .botgosteiponto img{
        float:left;
        margin-left:16px;
        margin-right:5px;
    }

.textolocalcimacartao{
    font-size:4vw;
    line-height:20px;
}

.textolocalbaixocartao{
    font-size:3vw;
    line-height:10px;
}

.botcompartilharponto{
    margin:-1 0 0 0;
}

.logotipo1{
    border-radius:50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url('../img/pontoencontro/fundoLogotipo@3x.png');
    overflow: hidden;
    text-align: center;
    height: 80px;
    width: 80px;
    position: relative;
    top: -330px;
    left: 38%;
    margin: 0;
    float: left;            
}

.logotipo2{
    border-radius:50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url('../img/pontoencontro/fundoLogotipo2@3x.png');
    overflow: hidden;
    text-align: center;
    height: 80px;
    width: 80px;
    position: relative;
    top: -330px;
    left: 38%;
    margin: 0;
    float: left;            
}

/*-------------------------------------LOCAIS*/

.cartaolocais{
    height: 150px;
    width: 100%;
    background-color: transparent;
    border-radius: 13px;
    padding: 0;
    box-shadow: 0px 4px 3px black;
}

.rowcartaopontolocais{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 2%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0%;
    text-align:center;
}

.bottoplocais{
    border-radius: 50px;
    background-image: url('../img/pontoencontro/bg_icones@3x.png');
    width: 40%;
    height:17%;
    float: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    top: -150px;
}

.bottoplocais img{
    height:50%;
}

.bottoplocais button{
    min-height:26px;
}

.botbotlocais{
    border-radius:50px;
    background-image:url('../img/pontoencontro/bg_icones@3x.png');
    width:60%;
    float:left;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 49px;
    position: relative;
    z-index: 5;
    background-position: center center;
    height: 15%;
}

.botbotlocais img{
    height:65%;
    float:left;
    margin-right:3px;
}

.plocalgpslocais{
    color: white;
    text-align: -webkit-left;
    margin:5px 0 0 2px;
}

.botcompartilharlocais{
    margin-left:0%;
    margin-right:0%;
    margin-top:-1px;
    margin-bottom:0;
}

.cartaopontobarralocais{
    position: relative;
    bottom: 29px;
    height: 34px;
    width: 100%;
    background-color: snow;
    border-top:4px solid lightgray;
    border-bottom-right-radius:13px;
    border-bottom-left-radius:13px;
}

.botsbarrapontolocais{
    position: relative;   
    height: 30px;
    width: 100%;
    text-align: left;
    padding:0;
    top:-21px;
}

.botsbarrapontolocais img{
    height:65%;
}

.botsbarrapontolocais p{
    font-size:8px; 
    margin:0;
    float:right;
    padding-right: 5px;
}

.botsbarrapontolocais button{
    padding: 0;
    width: 100%;
    line-height: 23px;
}

.colbotbarralocais{
    padding:0;    
}

.textolocalcimacartaolocais {
    font-size: 5px;
    line-height: 3px;
    margin: 0;
}

.textolocalbaixocartaolocais {   
    font-size: 1vw;
    line-height: 14px;
    margin: 0px;
}
   
/*---------------------------------------CONVERSAS*/

.iconepessoachat{
    background-position:  center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:50%;
    height:14vw;
    width:14vw;
    margin:5 0 0 0;
    padding:0;
}

.iconepessoachatmini{
    background-position:  center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:50%;
    height:20px;
    width:20px;
    margin:0 5 0 0;
    padding:0;
    float:left;    
}

.coldata{
    padding:0;
}

.iconeonline{
    float: right;
    position: relative;
    top: 35px;
}

.textochatpreview{
    width: 100%;
    font-size: 3vw;
    margin:0;
    padding:0;
    color: #d3d3d3;
}

.textochatpreviewaviso{
    width: 100%;
    font-size: 3vw;
    margin:0;
    padding:0;
    color: red;
}

.rowchat{
    display: block;
    padding: 0;
}

.naolidas{
    background-color: #161820;
    border-radius:50px;
    height: 20px;
    width:auto;
    text-align: center;
    font-size: 3vw;
    color: white;
    display: inline-block;
    padding:0 5;
    margin:0 0 0 10;
}

.chathora{
    color: #d3d3d3;
    font-size: 4vw;
}

.botarquivarchat{
    margin:0;
    padding:0;
    background-image:url('../img/conversas/arquivar@3x.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
    width:48%;
    border: none;
    border-radius: 0;
}

.botdeletarchat{
    margin:0  0 0 -5;
    padding:0;
    background-image:url('../img/conversas/delete@3x.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;   
    width:48%;
    border: none;
    border-radius: 0;
}

.colbotchat{
    padding:0 0 0 5;
    margin:0;
}

.colborder{
    border-bottom: 1px solid lightgray;
}

.scrollchat{
    max-height:70;
}

/*---------------------------------------CHAT*/

.iconepessoachatheader{
    background-position:  center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:50%;
    height:10vw;
    width:10vw;
    margin:0 -35 0 50;
    padding:0;
    float:left;
}

.colheaderchat{
    color: black;
    text-align: center;
    font-family: "TueddinLight";
}

.textochatheader{
    font-size:4vw;
    line-height: 5vw;
    margin-top: 1vw;
    margin: 0;
}

.textochatheaderbaixo{
    color: lightgray;
    font-size: 3vw;
    letter-spacing: 1vw;
    margin: 0;
}

.iconepessoachatmsg{
    background-position:  center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:50%;
    height:10vw;
    width:10vw;
    margin:5 5 0 5;
    padding:0;
    float:left;
    position: relative;
}

.coltextooutrapessoa{
    border-radius:5px;
    background-color:#e9e9e9;
    height:auto;
    width: auto;
    display: inline-block;
    margin-bottom: -4vw;
    margin-right: 3vw;
}

.rowchatconversa{
    display: inline-block;
    padding: 5;
}
/*-------------------------------------PESQUISA*/

.colpesquisatop{
    background-image: url('../img/pesquisar/barraMenu@3x.png');
    background-size: cover;
    background-position:  center center;
    background-repeat: no-repeat;
    width:100%;
    height:12vw;
    padding:0;
    display: inline-flex;
    box-shadow: 0px 2px 2px lightgray;
}

.searchmargin{
    margin-top:2vw;
}

.inputpesquisar{
    border: 0;
    background-color: transparent;
    padding: 0;
}.inputpesquisar input{
    font-size:5vw;
}

.colborderpesquisa{
    border-bottom: 1px solid lightgray;
    line-height: 5vw;
    padding-top: 3vw;
}

.rowpesquisa{
    padding:0;
}

.textonomepesquisa{
    margin:0;
    font-size: 4vw;
}

.iconepessoapesquisa{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    height: 14vw;
    width: 14vw;
    margin: 2vw;
    padding: 0;
}

.textoidpessoapesquisa{
    color:lightgray;
    font-size: 4vw;
}

.rowpesquisa{
    padding-right:0;
}

.buttonsearch{
    min-height:0;
    width:100%;
    height:80%;
}.buttonsearch img{
    max-height:7vw;
}

.pesquisatrans{
    
}

/*-------------------------------------FONTES*/
@font-face {
  font-family: "Tueddin";
  src: url("../img/fontes/HelveticaNeue.ttf");
    src: url("../img/Fontes/HelveticaNeue.ttf") format("truetype"),
        font-weight: normal;
        font-style: normal;
}
@font-face {
font-family: "TueddinBold";
  src: url("../img/fontes/HelveticaNeue-Bold.ttf");
    src: url("../img/fontes/HelveticaNeue-Bold.ttf") format("truetype"),
        font-weight: normal;
        font-style: normal;
}
@font-face {
font-family: "TueddinBoldItalic";
  src: url("../img/fontes/HelveticaNeue-BoldItalic.ttf");
    src: url("../img/fontes/HelveticaNeue-BoldItalic.ttf") format("truetype"), 
        font-weight: normal;
        font-style: normal;
}
@font-face {
font-family: "TueddinCondensedBlack";
  src: url("../img/fontes/HelveticaNeue-CondensedBlack.ttf");
    src: url("../img/fontes/HelveticaNeue-CondenseBlack.ttf") format("truetype"), 
        font-weight: normal;
        font-style: normal;
}
@font-face {
font-family: "TueddinCondensedBold";
  src: url("../img/fontes/HelveticaNeue-CondensedBold.ttf");
     src: url("../img/fontes/HelveticaNeue-CondensedBold.ttf") format("truetype"),
        font-weight: normal;
        font-style: normal;
}
@font-face {
font-family: "TueddinItalic";
  src: url("../img/fontes/HelveticaNeue-Italic.ttf");
     src: url("../img/fontes/HelveticaNeue-Italic.ttf") format("truetype"), 
        font-weight: normal;
        font-style: normal;
}
@font-face {
font-family: "TueddinLight";
  src: url("../img/fontes/HelveticaNeue-Light.ttf");
     src: url("../img/fontes/HelveticaNeue-Light.ttf") format("truetype"),
        font-weight: normal;
        font-style: normal;
}
@font-face {
font-family: "TueddinLightItalic";
  src: url("../img/fontes/HelveticaNeue-LightItalic.ttf");
     src: url("../img/fontes/HelveticaNeue-LightItalic.ttf") format("truetype"),
        font-weight: normal;
        font-style: normal;
}
@font-face {
font-family: "TueddinMedium";
  src: url("../img/fontes/HelveticaNeue-Medium.ttf");
     src: url("../img/fontes/HelveticaNeue-Medium.ttf") format("truetype"), 
        font-weight: normal;
        font-style: normal;
}



/*--------------------------------------------------Media Query*/


@media screen and (min-width:321px) and (max-width:374px){
    /*.iconeperfiltela{
        position:absolute; 
        background:0; 
        top:23%; 
        left:50%;
    }*/
    
    .fotoperfiltela{
        max-height:98px;
        max-width:98px;
        min-height:98px;
        min-width:98px;
        /*margin-top: 25%;*/ 
        border-radius:50%;
        border: 2px solid white;
        /*margin-bottom:-37%;*/
    }
    
    .buttonmain{  
        border-radius:4px;
        border-style: none;
        flex: 0 0 42%;
        max-width: 42%;
        padding-bottom: 5%;
        padding-top: 5%;
    }
    
    .inputsexoidade {
        padding-top: 6.5%;
        padding-bottom: 6.5%;
        padding-left: 0;
    
    }
    
/*--------------------------------------------MODAL VIEW PERFIL*/
    
  
/*---------------------------------media query perfil*/
    .voltarPerfil{
        padding-left:5%; 
        margin-top:5%; 
        margin-right:58%;
    }
    
    
    
    .botaoeditar{
        position:relative; 
        z-index: 3; 
        left: 13%; 
        top:-8px;
    }
    
    .instagramBotaop{
        position: relative;
        right: -199px;
        top: 9px;
    }
    
    .fotosInstagram{
        max-width:119px;
        max-height:119px;
        min-width:119px;
        min-height:119px;
    }
    
 /*---------------------------------barra nav*/   
        
    .barraimg{
        position: relative;
        top: -84%;
        width: 100%;
        margin: 0;
        padding: 0;
        height: 82px;
    }
    
    .barrabotaomain{
        position: absolute;
        left: 40%;
        left: 36.5%;
        top: -35px;
        height: 70px;
        width: 80px;
      
        background-color:transparent;
    }
    
    
    .barrabotaotimeline{
        position: absolute;
        left: 237px;
        top: 4px;
    }
    
    .barrabotaouserconfig{
        position: absolute;
        left: 306px;
        top: 4px;
    }
    
    
    .barrabotaochat{
        position: absolute;
        left: 84px;
        top: 4px;
    }
    
    
}

@media screen and (min-width:375px) and (max-width:383px){
    /*.iconeperfiltela{
        position:absolute; 
        background:0; 
        top:10%; 
        left:52%;
    }*/
    
    .fotoperfiltela{
        max-height:98px;
        max-width:98px;
        min-height:98px;
        min-width:98px;
        /*margin-top: 25%;*/ 
        border-radius:50%;  
        border: 2px solid white;
        /*margin-bottom:-37%;*/
    }
    
    .buttonmain{  
        border-radius:4px;
        border-style: none;
        flex: 0 0 42%;
        max-width: 42%;
        padding-bottom: 5%;
        padding-top: 5%;
    }
    
    .inputsexoidade {
        padding-top: 6.5%;
        padding-bottom: 6.5%;
        padding-left: 0;
    
    }
    
/*---------------------------------media query perfil*/
    .voltarPerfil{
        padding-left:5%; 
        margin-top:5%; 
        margin-right:58%;
    }
    
    .iconelocal{
        float:left;
        margin-left:35%;
        margin-top:2%;
        margin-right:-32%;
    }
    
    .botaoeditar{
        position:relative; 
        z-index: 3; 
        left: 13%; 
        top:-8px;
    }
    
    .instagramBotaop{
        position: relative;
        right: -199px;
        top: 9px;
    }
    
    .fotosInstagram{
        max-width:124px;
        max-height:124px;
        min-width:124px;
        min-height:124px;
    }
    
    .seguindoPerfil{
        float:left; 
        margin-top: 1%; 
        min-height:12%; 
        color:white; 
        position:relative; 
        z-index:2; 
        text-align:center; 
        padding-left:7%;
        top:3%;
    }
    .seguidoresPerfil{
        float:right; 
        margin-top: 1%; 
        min-height:12%; 
        color:white; 
        position:relative; 
        z-index:2; 
        text-align:center; 
        right:5%;
        top:3%;
    }
    
 /*---------------------------------barra nav*/   
    .barraimg{
        position: relative;
        top: -84%;
        width: 100%;
        margin: 0;
        padding: 0;
        height: 82px;
    }
    
     .barrabotaomain{
        position: absolute;
        left: 35%;
        top: -35px;
        min-height: 80px;
        min-width: 80px;
        line-height:80px;
        background-color:transparent;
    }
    
        .barrabotaomain img{
            height: 80px;
            width: 80px;
        }
    
    .barrabotaotimeline{
        position: absolute;
        left: 253px;
        top: 4px;
    }
    
    .barrabotaouserconfig{
        position: absolute;
        left: 318px;
        top: 4px;
    }
    
    
    .barrabotaochat{
        position: absolute;
        left: 88px;
        top: 4px;
    }
    
}

@media screen and (min-width:384px) and (max-width:389px){
    /*.iconeperfiltela{
        position:absolute; 
        background:0; 
        top:10%; 
        left:52%;
    }*/
    
    .fotoperfiltela{
        max-height:98px;
        max-width:98px;
        min-height:98px;
        min-width:98px;
        /*margin-top: 25%;*/ 
        border-radius:50%;  
        border: 2px solid white;
        /*margin-bottom:-37%;*/
    }
    
    .buttonmain{  
        border-radius:4px;
        border-style: none;
        flex: 0 0 42%;
        max-width: 42%;
        padding-bottom: 5%;
        padding-top: 5%;
    }
    
    .inputsexoidade {
        padding-top: 6.5%;
        padding-bottom: 6.5%;
        padding-left: 0;
    
    }
    
/*---------------------------------media query perfil*/
   
 /*---------------------------------barra nav*/   
    .barraimg{
        position: relative;
        top: -84%;
        width: 100%;
        margin: 0;
        padding: 0;
        height: 82px;
    }
    
    .barrabotaomain{
        position: absolute;
        left: 149px;
        top: -34px;
    }
    
        .barrabotaomain img{
            height: 80px;
            width: 80px;
        }
    
    .barrabotaotimeline{
        position: absolute;
        left: 255px;
        top: 4px;
    }
    
    .barrabotaouserconfig{
        position: absolute;
        left: 324px;
        top: 4px;
    }
    
    
    .barrabotaochat{
        position: absolute;
        left: 90px;
        top: 4px;
    }
    
}

@media screen and (min-width:390px) and (max-width:419px){
    /*.iconeperfiltela{
        position:absolute; 
        background:0; 
        top:10%; 
        left:52%;
    }*/
    
    .fotoperfiltela{
        max-height:98px;
        max-width:98px;
        min-height:98px;
        min-width:98px;
        /*margin-top: 25%;*/ 
        border-radius:50%;  
        border: 2px solid white;
        /*margin-bottom:-37%;*/
    }
    
    .buttonmain{  
        border-radius:4px;
        border-style: none;
        flex: 0 0 42%;
        max-width: 42%;
        padding-bottom: 6%;
        padding-top: 6%;
    }
    
/*---------------------------------media query perfil*/
    .voltarPerfil{
        padding-left:5%; 
        margin-top:5%; 
        margin-right:58%;
    }
    
    .rowshade{
        background: -webkit-linear-gradient( rgba(0, 0, 0, 0), black 100%);  
        background-size: cover;
        position: relative;
        top: -6vw;
        margin: 0;
        border: 0;
        width: 102%;
        height:75px;
        padding: 0;
        left: -3px;
    }
    
    .localPerfil {
        color: white;
        background-image: url(../img/perfil/local/barra.png);
        height: 9vw;
        text-align: center;
        vertical-align: middle;
        padding: 5 0;
    }
    
    .sobreTextobaixoedita {
        position: relative;
        border: none;
        left: 2vw;
        padding: 0;
        height: 13vw;
        color: lightgray;
        bottom: 3vw;
    }
    
    .sobreTexto{
        top: 3vw;
        
    }
    
    .sobreTextocima{
        position:relative;
        top: -1vw;
    }
    
    .sobreTextobaixo{
        position: relative;
        border: none;
        top: 0vw;
        left: 2vw;
        padding: 0;
        height: 13vw;
        color: lightgray;

    }
    
    .rowfotosinstagram{
        margin-top:3%;
    }
    
    .instagramTexto{
        margin-left:3%;
        font-size:12px;
        float:left;

    }
    
    .instagramBotaop{
        position: relative;
        right: -222px;
        top: 9px;
    }
    
    .fotosInstagram{
        max-width:137px;
        max-height:137px;
        min-width:137px;
        min-height:137px;
    }
    
    .seguindoPerfil{
        float:left; 
        margin-top: 1%; 
        min-height:12%; 
        color:white; 
        position:relative; 
        z-index:2; 
        text-align:center; 
        padding-left:7%;
        top:6%;
    }
    .seguidoresPerfil{
        float:right; 
        margin-top: 1%; 
        min-height:12%; 
        color:white; 
        position:relative; 
        z-index:2; 
        text-align:center; 
        right:5%;
        top:6%;
    }
    
 /*---------------------------------barra nav*/   
    .barraimg{
        position: relative;
        top: -94%;
        width: 100%;
        margin: 0;
        padding: 0;
        height: 85px;
    }
    
    .barrabotaomain{
        position: absolute;
        left: 159.5;
        top: -38px;
    }
    
        .barrabotaomain img{
            height: 87px;
            width: 87px;
        }
    
    .barrabotaotimeline{
        position: absolute;
        left: 280px;
        top: 4px;
    }
    
    .barrabotaouserconfig{
        position: absolute;
        left: 350px;
        top: 4px;
    }
    
    
    .barrabotaochat{
        position: absolute;
        left: 90px;
        top: 4px;
    }
    
    .barrabotaopessoas{
        position: absolute;
        left: 20px;
        top: 4px;
    }
}

@media screen and (min-width:1024px){
    /*.iconeperfiltela{
        position:absolute; 
        background:0; 
        top:10%; 
        left:58%;
    }*/
    
    .fotoperfiltela{
        max-height:150px;
        max-width:150px;
        min-height:150px;
        min-width:150px;
        /*margin-top: 31%;*/ 
        border-radius:50%;  
        border: 2px solid white;
        /*margin-bottom:-19%;*/
        /*margin-left:11%*/
    }
    
    .buttonmain{  
        border-radius:4px;
        border-style: none;
        flex: 0 0 42%;
        max-width: 38%;
        padding-bottom: 10%;
        padding-top: 10%;
    }
    
/*---------------------------------media query perfil*/
    .voltarPerfil{
        padding-left:5%; 
        margin-top:5%; 
        margin-right:71%;
    }
    
    .opcoesPerfil{
        padding-left:2%; 
        margin-right:2%; 
        padding-top:6%;
    }
    
    .iconelocal{
        float:left;
        margin-left:35%;
        margin-right:-32%;
    }
    
    .localPerfil {
        color: white;
        background-image: url(../img/perfil/local/barra.png);
        height: 9vw;
        text-align: center;
        vertical-align: middle;
        padding: 5 0;
    }
    
    .botaoeditar{
        position:relative; 
        z-index: 3; 
        left: 28%; 
        top:-8px;
    }
    
        .botaoeditar img{
            width:140px;
        }
    
    .scrollPerfil{
        width:200%; 
        height:75px; 
        float:left;
    }
    
    .sobreTextocima{
        position: relative;
        top: -6px;
        left: -1px;
    }
    
    .botaoImgperfil{
        text-align:center;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    
    .botaoImgperfil img{
        height:40px;
    }
    
    .instagramBotaop{
        position: relative;
        right: -199px;
        top: 9px;
    }
    
    .fotosInstagram{
        max-width:127px;
        max-height:127px;
        min-width:127px;
        min-height:127px;
    }
    
    .overlaytext{
        padding:0;
        margin:11 0 0 0;
        color:white;
        text-align:center;
        height:75px;
        width:239px;
        position:absolute;
        z-index:1;  
        opacity:1;
        top:0%;
        left:-8%;
        font-size:23px;    
    }

        .overlaytext.activated{
            opacity:0;
            content:;
            padding:0;
            margin:0;
            color:white;
            text-align:center;
            height:75px;
            width:239px;
            position:absolute;
            z-index:1;  
            top:0%;
            left:-8%;
            font-size:23px;        
        }
    
    .overlayimg{
        height:20px;
        margin-top:6%;
    }
    
    .iconelocal{
        float: left;
        margin-left: 35%;
        margin-top: 1.5%;
        margin-right: -38%;
        height: 32px;
    }

    .textolocal{
        margin-top:2.5%;
        font-size:23px;
    }
    
    .sobreBalao{
        width: 708px;
        margin-top: 5%;
        margin-bottom: 5%;    
    }

    .sobreTexto{
        width: 607px;
        margin-left: 9%;
        position: relative;
        top: -153px;
        text-align: left;
        font-size: 30px;
    }
    
    .rowfotosinstagram{
        margin-top:13%;
    }


    .sobreTextobaixo{
        position: relative;
        top: 11px;
        font-size: 30px;
        color: #d3d3d3;
        text-align: left;

    }

    .instagramTexto{
        margin-left:2%;
        font-size:20px;
        float:left;
        margin-bottom:2%;
    }

    .instagramBotao{
        border-radius: 50%;
        height: 6px;
        width: 6px;
        min-width: 0px;
        min-height: 0px;
        padding: 0;
        margin: 0;
        height: 13px;
        width: 13px;
    }

    .instagramBotaop{
        position: relative;
        right: -478px;
        top: 9px;        
    }

    .fotosInstagram{
        min-width: 253px;
        min-height: 253px;
        max-height: 253px;
        max-width: 253px;
    }

    .paddingInstagram{
        padding-left:0.5%;
        padding-right:0.5%;
        padding-top:0.25%;
        padding-bottom:0.25%;
    }
    
 /*---------------------------------barra nav*/   
    .barraimg{
        position: relative;
        top: -242%;
        width: 100%;
        margin: 0;
        padding: 0;
        height: 164px;
    }
    
    .barrabotaomain{
        position: absolute;
        left: 303px;
        top: -99px;
    }
    
        .barrabotaomain img{
            height: 155px;
            width: 155px;
        }
    
    .barrabotaotimeline{
        position: absolute;
        left: 530px;
        top: -18px;
    }
    
        .barrabotaotimeline img{
                height:45px;
            }
    
    .barrabotaouserconfig{
        position: absolute;
        left: 685px;
        top: -11px;
    }
    
        .barrabotaouserconfig img{
                height:30px;
            }
    
    
    .barrabotaochat{
        position: absolute;
        left: 195px;
        top: -18px;
    }
    
        .barrabotaochat img{
            height:45px;
        }
    
    .barrabotaopessoas{
        position: absolute;
        left: 58px;
        top: -18px;
    }
    
        .barrabotaopessoas img{
            height:45px;
        }
    
}

@media screen and (min-width:1366px){
    /*.iconeperfiltela{
        position:absolute; 
        background:0; 
        top:10%; 
        left:50%;
    }*/
    
    .fotoperfiltela{
        max-height:150px;
        max-width:150px;
        min-height:150px;
        min-width:150px;
        /*margin-top: 31%;*/ 
        border-radius:50%;  
        border: 2px solid white;
        /*margin-bottom:-8%;*/
        /*margin-left:21%;*/
    }
    
    .buttonmain{  
        border-radius:4px;
        border-style: none;
        flex: 0 0 42%;
        max-width: 38%;
        padding-bottom: 10%;
        padding-top: 10%;
    }
    
/*---------------------------------media query perfil*/
    .voltarPerfil{
        padding-left:5%; 
        margin-top:5%; 
        margin-right:71%;
    }
    
    .opcoesPerfil{
        padding-left:2%; 
        margin-right:2%; 
        padding-top:6%;
    }
    
    .iconelocal{
        float:left;
        margin-left:35%;
        margin-top:2%;
        margin-right:-32%;
    }
    
    .botaoeditar{
        position:relative; 
        z-index: 3; 
        left: 28%; 
        top:-8px;
    }
    
        .botaoeditar img{
            width:140px;
        }
    
    .scrollPerfil{
        width:200%; 
        height:75px; 
        float:left;
    }
    
    .sobreTextocima{
        position: relative;
        top: -6px;
        left: -1px;
    }
    
    .botaoImgperfil{
        text-align:center;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    
    .botaoImgperfil img{
        height:40px;
    }
    
    .instagramBotaop{
        position: relative;
        right: -199px;
        top: 9px;
    }
    
    .fotosInstagram{
        max-width:127px;
        max-height:127px;
        min-width:127px;
        min-height:127px;
    }
    
    .overlaytext{
        padding:0;
        margin:11 0 0 0;
        color:white;
        text-align:center;
        height:75px;
        width:239px;
        position:absolute;
        z-index:1;  
        opacity:1;
        top:0%;
        left:-8%;
        font-size:23px;    
    }

        .overlaytext.activated{
            opacity:0;
            content:;
            padding:0;
            margin:0;
            color:white;
            text-align:center;
            height:75px;
            width:239px;
            position:absolute;
            z-index:1;  
            top:0%;
            left:-8%;
            font-size:23px;        
        }
    
    .overlayimg{
        height:20px;
        margin-top:6%;
    }
    
    .iconelocal{
        float: left;
        margin-left: 35%;
        margin-top: 1.5%;
        margin-right: -38%;
        height: 32px;
    }

    .textolocal{
        margin-top:2.5%;
        font-size:23px;
    }
    
    .sobreBalao{
        width: 708px;
        margin-top: 5%;
        margin-bottom: 5%;    
    }

    .sobreTexto{
        width: 607px;
        margin-left: 9%;
        position: relative;
        top: -153px;
        text-align: left;
        font-size: 30px;
    }
    
    .rowfotosinstagram{
        margin-top:13%;
    }


    .sobreTextobaixo{
        position: relative;
        top: 11px;
        font-size: 30px;
        color: #d3d3d3;
        text-align: left;

    }

    .divSobre{
        height:100px;
    }

    .instagramTexto{
        margin-left:2%;
        font-size:20px;
        float:left;
        margin-bottom:2%;
    }

    .instagramBotao{
        border-radius: 50%;
        height: 6px;
        width: 6px;
        min-width: 0px;
        min-height: 0px;
        padding: 0;
        margin: 0;
        height: 13px;
        width: 13px;
    }

    .instagramBotaop{
        position: relative;
        right: -478px;
        top: 9px;        
    }

    .fotosInstagram{
        min-width: 253px;
        min-height: 253px;
        max-height: 253px;
        max-width: 253px;
    }

    .paddingInstagram{
        padding-left:0.5%;
        padding-right:0.5%;
        padding-top:0.25%;
        padding-bottom:0.25%;
    }
    
 /*---------------------------------barra nav*/   
    .barraimg{
        position: relative;
        top: -242%;
        width: 100%;
        margin: 0;
        padding: 0;
        height: 164px;
    }
    
    .barrabotaomain{
        position: absolute;
        left: 303px;
        top: -99px;
    }
    
        .barrabotaomain img{
            height: 155px;
            width: 155px;
        }
    
    .barrabotaotimeline{
        position: absolute;
        left: 530px;
        top: -18px;
    }
    
        .barrabotaotimeline img{
                height:45px;
            }
    
    .barrabotaouserconfig{
        position: absolute;
        left: 685px;
        top: -11px;
    }
    
        .barrabotaouserconfig img{
                height:30px;
            }
    
    
    .barrabotaochat{
        position: absolute;
        left: 195px;
        top: -18px;
    }
    
        .barrabotaochat img{
            height:45px;
        }
    
    .barrabotaopessoas{
        position: absolute;
        left: 58px;
        top: -18px;
    }
    
        .barrabotaopessoas img{
            height:45px;
        }
    
}